    <style>
      /* Icon when the collapsible content is shown */
      .btnp:after {
        /*font-family: "Glyphicons Halflings";*/
        content: "\e114";
        float: right;
        margin-left: 15px;
      }
      /* Icon when the collapsible content is hidden */
      .btnp.collapsed:after {
        content: "\e080";
      }
       .col-centered{
        float: none;
        margin: 0 auto;
    }
    </style>
    <div class="container">
          <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
         <!--  <ul>
            <li><a href="#/branch" class="heading">Branch List</a></li>
            <li class="hidden-sm hidden-xs">
              <a href="#/addbranch" class="selected">Add New Branch</a>
            </li>
          </ul> -->
       
        </div>
        <!-- Sub Nav End -->
   <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper">
          
 
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="widget no-margin">
                  <div class="widget-header">
                    <div class="title">
                      Customer Lead information
                    </div>
                    <span class="tools">
                      <i class="fa fa-cogs"></i>
                  </div>
                  <div class="widget-body">
                    <div class="row">
                      
                         <div class="col-sm-offset-2 col-sm-8 ">
                            <div class="panel panel-info">
                              <div class="panel-heading">
                                <h4 class="panel-title"><i class="icon ion-clock text-info"></i>Features</h4>
                              </div>
                              <div class="panel-body">
                                 <form class="form-horizontal no-margin">
                                   
                                     <div class="col-md-4">
                                        <div class="form-group">
                                          <div class="col-sm-offset-2 col-sm-8">
                                            <div class="checkbox">
                                              <label>
                                                <input type="checkbox" ng-model="featureform.access_helpdesk">Help Desk
                                              </label>
                                            </div>
                                          </div>
                                        </div> 
                                    </div>
                                     <div class="col-md-4">
                                        <div class="form-group">
                                          <div class="col-sm-offset-2 col-sm-8">
                                            <div class="checkbox">
                                              <label>
                                                <input type="checkbox" ng-model="featureform.access_branch" >Branch
                                              </label>
                                            </div>
                                          </div>
                                        </div> 
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                          <div class="col-sm-offset-2 col-sm-8">
                                            <div class="checkbox">
                                              <label>
                                                <input type="checkbox" ng-model="featureform.access_property" >Property
                                              </label>
                                            </div>
                                          </div>
                                        </div> 
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                          <div class="col-sm-offset-2 col-sm-8">
                                            <div class="checkbox">
                                              <label>
                                                <input type="checkbox" ng-model="featureform.access_staff">Staff
                                              </label>
                                            </div>
                                          </div>
                                        </div> 
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                          <div class="col-sm-offset-2 col-sm-8">
                                            <div class="checkbox">
                                              <label>
                                                <input type="checkbox">6 Remember Me.
                                              </label>
                                            </div>
                                          </div>
                                        </div> 
                                    </div>
                                 </form>
                                
                              </div>
                            </div>
                          </div>
                        <div class="col-sm-offset-2 col-sm-8" >
                         
                        <div class="col-lg-6 col-md-6 col-sm-12 col-sx-12" ng-show="featureform.access_helpdesk">
                          <div class="panel panel-info ">
                            <div class="panel-heading">
                              <h4 class="panel-title"><i class="fa fa-caret-square-o-down pull-right"></i><a >Help Desk</a></h4>
                            </div>
                            <div class="panel-body" >
                              <table class="table table-striped">
                                 
                                    <tbody>
                                      <tr>
                                        <td class="col-sm-8"><b>add Lead :</b></td>
                                        <td class="col-sm-4"><input type="checkbox" ng-model="featureform.addlead" ></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-8"><b>view Lead :</b></td>
                                        <td class="col-sm-4"><input type="checkbox" ng-model="featureform.showallleads" ></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-8"><b>Customer Lead Information:</b></td>
                                        <td class="col-sm-4"><input type="checkbox" ng-model="featureform.viewlead" ></td>
                                      </tr>
                                      
                                    </tbody>
                                  </table>
                            </div>
                          </div>
                        </div>
                         <div class="col-lg-6 col-md-6 col-sm-12 col-sx-12" ng-show="featureform.access_branch">
                          <div class="panel panel-info ">
                            <div class="panel-heading">
                              <h4 class="panel-title"><i class="fa fa-caret-square-o-down pull-right"></i><a >Branch</a></h4>
                            </div>
                            <div class="panel-body" >
                              <table class="table table-striped">
                                 
                                    <tbody>
                                      <tr>
                                        <td class="col-sm-8"><b>Branch List:</b></td>
                                        <td class="col-sm-4"><input type="checkbox" ng-model="featureform.branch" ></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-8"><b>Add Branch:</b></td>
                                        <td class="col-sm-4"><input type="checkbox" ng-model="featureform.addbranch" ></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-8"><b>View Branch Profile:</b></td>
                                        <td class="col-sm-4"><input type="checkbox" ng-model="featureform.branchprofile" ></td>
                                      </tr>
                                     
                                    </tbody>
                                  </table>
                            </div>
                          </div>
                        </div>
                             <div class="col-lg-6 col-md-6 col-sm-12 col-sx-12" ng-show="featureform.access_staff">
                          <div class="panel panel-info ">
                            <div class="panel-heading">
                              <h4 class="panel-title"><i class="fa fa-caret-square-o-down pull-right"></i><a>Staff</a></h4>
                            </div>
                            <div class="panel-body" >
                              <table class="table table-striped">
                                 
                                    <tbody>
                                      <tr>
                                        <td class="col-sm-8"><b>view staff List :</b></td>
                                        <td class="col-sm-4"><input type="checkbox" ng-model="featureform.staff" ></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-8"><b>Add Staff :</b></td>
                                        <td class="col-sm-4"><input type="checkbox" ng-model="featureform.addstaff" ></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-8"><b>Staff Detail</b></td>
                                        <td class="col-sm-4"><input type="checkbox" ng-model="featureform.staffdetail" ></td>
                                      </tr>
                                     
                                    </tbody>
                                  </table>
                            </div>
                          </div>
                        </div>
                         <div class="col-lg-6 col-md-6 col-sm-12 col-sx-12" ng-show="featureform.access_property">
                          <div class="panel panel-info ">
                            <div class="panel-heading">
                              <h4 class="panel-title"><i class="fa fa-caret-square-o-down pull-right"></i><a>Property</a></h4>
                            </div>
                            <div class="panel-body" >
                              <table class="table table-striped">
                                 
                                    <tbody>
                                      <tr>
                                        <td class="col-sm-8"><b>Show Property List:</b></td>
                                        <td class="col-sm-4"><input type="checkbox" ng-model="featureform.property" ></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-8"><b>View Property Profile :</b></td>
                                        <td class="col-sm-4"><input type="checkbox" ng-model="featureform.property_details" ></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-8"><b>Add Property Info :</b></td>
                                        <td class="col-sm-4"><input type="checkbox" ng-model="featureform.addproperty" ></td>
                                      </tr>
                                     
                                    </tbody>
                                  </table>
                            </div>
                          </div>
                        </div> 

                       </div>


                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Dashboard Wrapper End -->
      </div>
    <!-- Main Container end -->
                    

    


