 <div class="container">
        <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
          <ul>
            <li><a href="#/property" class="heading">Available Property</a></li>
            <li class="hidden-sm hidden-xs">
              <a href="#/addproperty">Add New Property</a>
            </li>
              <li class="hidden-sm hidden-xs">
              <a href="#/addcommercial" >Add Commercial</a>
            </li>
            <li class="hidden-sm hidden-xs">
              <a href="#/addpg" >Add PG/Hostel</a>
            </li>
          </ul>
          <div class="custom-search hidden-sm hidden-xs">
            <input type="text" class="search-query" placeholder="Search Branch mger name and city ...">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper" ng-controller="addpropertycontroller">
          
          <!-- Left Sidebar Start -->
          <div class="left-sidebar">

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Create Residential Property(new) 
                    </div>
                  </div>
                  <div class="widget-body">
                    <form  name="form"  class="form-horizontal no-margin" novalidate>

                       <div class="form-group" ng-init="propertyform.property_type='residential'">
                        <label for="lead_type" class="col-sm-2 control-label">Property Type</label>
                          <div class="col-sm-8">
                            <label class="radio-inline"><input type="radio" name="property_type" ng-model="propertyform.property_type" value="residential">Residential</label>
                             <label class="radio-inline"><input type="radio" name="property_type"ng-model="propertyform.property_type" value="commercial">Commercial</label>
                             <label class="radio-inline"><input type="radio" name="property_type"ng-model="propertyform.property_type" value="pg">PG/Hostel</label>
                          </div>
                      </div>
                      <div ng-switch="propertyform.property_type">

                      
                       <div ng-switch-when="residential">
                       <div class="form-group">
                        <label for="property_name" class="col-sm-2 control-label">Property Name</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="property_name" placeholder="Property Name" ng-model="propertyform.property_name" name="property_name">
                        </div>
                      </div>
                      </div>
                        <div ng-switch-when="commercial">
                       <div class="form-group">
                        <label for="property_name" class="col-sm-2 control-label">Property Name</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="property_name" placeholder="Property Name" ng-model="propertyform.property_name" name="property_name">
                        </div>
                      </div>
                      </div>
                      <div ng-switch-when="pg">
                      <div class="form-group">
                        <label for="property_name" class="col-sm-2 control-label">Property Name </label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="property_name" placeholder="Hostel / Company / PG Name" ng-model="propertyform.property_name" name="property_name">
                        </div>
                      </div>
                      </div>

                      </div>

                       <div class="form-group">
                        <label for="  " class="col-sm-2 control-label">Apartment Facility</label>
                        <div class="col-sm-8">
                          <label class="radio-inline"><input type="radio" name="apartment_facility" ng-model="propertyform.apartment_facility" value="furnished">Furnished</label>
                           <label class="radio-inline"><input type="radio" name="apartment_facility" ng-model="propertyform.apartment_facility" value="unfurnished">Unfurnished</label>
                        </div>
                      </div>

                      <div class="form-group" ng-switch="propertyform.property_type">
                        <label for="residential_property" class="col-sm-2 control-label">Property Details</label>
                        <div ng-switch-when="residential">
                        <div class="col-sm-8" >
                          <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-5">
                              <select id="residential_property" class="form-control" ng-model="propertyform.residential_property">
                                <option value="">
                                  Select Residential Property type
                                </option>
                                <option value="Residential House">
                                 Residential House
                                </option>
                                <option value="Multistorey apartment">
                                  Multistorey apartment
                                </option>
                                <option value="Builder Floor Apartment">
                                  Builder Floor Apartment
                                </option>
                                <option value="Villa">
                                  Villa
                                </option>
                                <option value="Service Apartment">
                                  Service Apartment
                                </option>
                                <option value="Penthouse">
                                 Penthouse
                                </option> 
                                <option value="Studio Apartment">
                                  Studio Apartment
                                </option>
                              </select>
                            </div>
                             <div class="col-md-5 col-sm-5 col-xs-5">
                              <select id="flat_type" class="form-control" ng-model="propertyform.flat_type">
                                <option value="">
                                  Select flat type
                                </option>
                                <option value="1RK">
                                  1RK
                                </option>
                                <option value="1BHK">
                                  1BHK
                                </option>
                                <option value="2BHK">
                                  2BHK  
                                </option>
                                <option value="3BHK">
                                  3BHK  
                                </option>
                                <option value="4BHK">
                                  4BHK  
                                </option>
                                <option value="5BHK">
                                 5BHK
                                </option> 
                               
                              </select>
                            </div>
                          </div>
                        </div>
                        </div>

                         <div class="col-sm-8" ng-switch-when="commercial">
                          <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-5">
                              <select id="commercial" class="form-control" ng-model="propertyform.commercial_property">
                                <option value="">
                                  Select Commercial Property Type
                                </option>
                                <option value="Commercial Office Space">
                                 Commercial Office Space
                                </option>
                                <option value="Commercial Shop">
                                 Commercial Shop
                                </option>
                                <option value=" Commercial Showroom">
                                  Commercial Showroom
                                </option>
                                <option value="Warehouse/ Godown">
                                  Warehouse/ Godown
                                </option>
                                <option value="Industrial Building">
                                  Industrial Building
                                </option>
                                <option value="Industrial Shed">
                                 Industrial Shed
                                </option> 
                                <option value="Office in IT Park/SEZ">
                                 Office in IT Park/ SEZ
                                </option>
                              </select>
                            </div>
                             <div class="col-md-5 col-sm-5 col-xs-5">
                              <select id="commercial_flat_type" class="form-control" ng-model="propertyform.flat_type">
                                <option value="">
                                  Select flat type
                                </option>
                                <option value="1RK">
                                  1RK
                                </option>
                                <option value="1BHK">
                                  1BHK
                                </option>
                                <option value="2BHK  ">
                                  2BHK  
                                </option>
                                <option value="3BHK">
                                  3BHK  
                                </option>
                                <option value="4BHK">
                                  4BHK  
                                </option>
                                <option value="5BHK">
                                 5BHK
                                </option> 
                               
                              </select>
                            </div>
                          </div>
                        </div>

                         <div class="col-sm-8" ng-switch-when="pg">
                          <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-5">
                              <select id="pg_type" class="form-control"  ng-model="propertyform.pg_type">
                                <option value="">
                                  Select PG Type
                                </option>
                                <option value="Hostel">
                                  Hostel
                                </option>
                                <option value="paying Guest Services ">
                                  Paying Guest Services 
                                </option>
                              </select>
                            </div>
                             <div class="col-md-5 col-sm-5 col-xs-5">
                              <select id="pg_category_type" class="form-control" ng-model="propertyform.pg_category_type">
                                <option value="">
                                  PG Category Type
                                </option>
                                <option value="Girl Only">
                                  Girl Only
                                </option>
                                <option value=" boys only">
                                  boys only
                                </option>
                                <option value="Common">
                                  Common 
                                </option>
                                <option value="Couple">
                                  Couple 
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>


                      </div>
                      <div class="form-group">
                        <label for="property_Add *" class="col-sm-2 control-label">Property Address</label>
                        <div class="col-sm-8">
                           <textarea class="form-control" rows="5" id="property_Add" placeholder="Property Address"  ng-model="propertyform.property_Add" name="property_Add"></textarea>
                        </div>
                      </div> 
                     <div class="form-group">
                        <label for="state" class="col-sm-2 control-label">State / City </label>
                        <div class="col-sm-8">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="state" class="form-control" ng-model="propertyform.state" name="state">
                                <option value="" selected>
                                  Select State
                                </option>
                                <option value="Maharashtra">
                                  Maharashtra
                                </option>
                                <option value="Manipur">
                                  Manipur
                                </option>
                                <option value="Punjab">
                                  Punjab
                                </option>
                                <option value="Jharkhand">
                                  Jharkhand
                                </option>
                                <option value="Jammu and Kashmir">
                                  Jammu and Kashmir
                                </option>
                                <option value="Uttar Pradesh">
                                  Uttar Pradesh 
                                </option> `
                              </select>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="city" class="form-control" ng-model="propertyform.city" name="city">
                                <option value="" selected>  
                                  Select City
                                </option>
                                <option value="1">
                                  Pune
                                </option>
                                <option value="2">
                                  Nagpur
                                </option>
                                <option value="3">
                                  Thane
                                </option>
                                <option value="4">
                                  Nashik
                                </option>
                                <option value="5">
                                  Pimpri Chinchwad
                                </option>
                                <option value="6">
                                  Kalyan-Dombivali
                                </option>
                              </select>
                            </div> 
                              <div class="col-md-4 col-sm-4 col-xs-4">
                                 <input type="number" class="form-control" id="pincode" placeholder="Pin Code"  ng-model="propertyform.pincode" name="pincode">
                              </div>
                          </div>
                        </div>
                      </div>
                     <div class="form-group">
                        <label for="building_name" class="col-sm-2 control-label">Building / Project Name</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="building_name" placeholder="Building / Project Name"  ng-model="propertyform.building_name" name="building_name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="flat_shop_unit_no" class="col-sm-2 control-label">Flat / Shop / Unit No</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="flat_shop_unit_no" placeholder="Flat / Shop / Unit No"  ng-model="propertyform.flat_shop_unit_no" name="flat_shop_unit_no">
                        </div>
                      </div> 
                      <div class="form-group">
                        <label for="wing" class="col-sm-2 control-label">Wing</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="wing" placeholder="Wing" ng-model="propertyform.wing" name="wing">
                        </div>
                      </div> 
                        <div class="form-group">
                        
                        <label for="lene1" class="col-sm-2 control-label">Lene</label>
                     
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="branch_name" placeholder="Lene 1" ng-model="propertyform.lene1" name="lene1">
                        </div>
                         <div class="col-sm-4">
                          <input type="text" class="form-control" id="lene2" placeholder="Lene 2" ng-model="propertyform.lene2" name="lene2">
                        </div>
                       </div>
                        <div class="form-group">
                        <label for="society_amenities" class="col-sm-2 control-label">Amenities</label>
                        <div class="col-sm-8">
                          <select multiple class="form-control" id="society_amenities" ng-model="propertyform.society_amenities" name="society_amenities">
                            <option>Lift </option>
                            <option>Swimming Pool</option>
                            <option>Power Back Up </option>
                            <option>Playground</option>
                            <option>Parking (Open)</option>
                            <option>Parking (Covered)</option>
                            <option>Security</option>
                            <option>Club House</option>
                            <option>Solar System </option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="property_photo" class="col-sm-2 control-label">Upload Property Photo</label>
                        <div class="col-sm-8">
                          <input type="file" class="form-control" id="property_photo" ng-model="propertyform.property_photo" name="property_photo">
                        </div>
                      </div> 
                      <div class="form-group">
                        <label for="keyrdate" class="col-sm-2 control-label">Keys Received Date</label>
                        <div class="col-sm-3">
                         <input type="date" name="keyrdate" class="form-control" ng-model="propertyform.keyrdate" name="keyrdate">
                        </div>
                      </div> 
                       <div class="form-group">
                        <label for="Property_name" class="col-sm-2 control-label">Service package Activation:- </label>
                        <div class="col-sm-8">
                          <label class="checkbox-inline"><input type="checkbox" name="optcheckbox" value="rent_followup_service"  ng-model="propertyform.followup_service.rent_followup_service">Rent FollowUp Service</label>
                          <label class="checkbox-inline"><input type="checkbox" name="optcheckbox" value="collection_facility" ng-model="propertyform.followup_service.collection_facility">Collection Facility</label>
                          <label class="checkbox-inline"><input type="checkbox" name="optcheckbox" value="helpdesk_facility" ng-model="propertyform.followup_service.helpdesk_facility">Helpdesk Facility</label>
                          
                          <label class="checkbox-inline" ng-model="propertyform.utility_payment_facility"><input type="checkbox" name="optcheckbox" value="utility_payment_facility">Utility Payment Facility</label>
                        </div>
                      </div>
                      <div class="form-group"> 
                        <label for="Property_name" class="col-sm-2 control-label">Home/Assets Amenity Checking :- </label>
                        <div class="col-sm-8">
                         <a data-toggle="modal" data-target="#modalMd">
                                <button type="submit" class="btn btn-info">Add Amenity</button>
                         </a>
                         </div>
                        </div>    
                        <div class="form-group"> 
                            <div class="col-sm-12">
                         
                    
                            <!-- Modal -->
                            <div class="modal fade" id="modalMd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel5">Home/Assets Amenity Checking Report </h4>
                                  </div>
                                  <div class="modal-body">

                             <div class="widget-body">
                                <table class="table table-responsive table-striped table-bordered table-hover no-margin">
                                  <thead>
                                    <tr>
                                      <th style="width:15%">
                                       Select Type
                                      </th>
                                      <th style="width:30%" class="hidden-xs">
                                       No Of Units
                                      </th>
                                      <th style="width:30%" class="hidden-xs">
                                        Current Condition
                                      </th>
                                      <th style="width:30%" class="hidden-xs">
                                       Remark
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>
                                        <span class="name">
                                          Fan 
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="fan" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="fan" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="fan" placeholder="Remark">
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <span class="name">
                                         Tube  
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Bulb  
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Bed  
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Cots  
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                      <tr>
                                      <td>
                                        <span class="name">
                                         Cupboards  
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Sliding Windows  
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Electric connection  
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Tiles  
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Wash Bacine  
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         flashTank 
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Geyser 
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Bathroom Glass  
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Sink 
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Door Latch 
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Curtin Road 
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Tv 
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Fridge 
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Washing Machine 
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Cleaning  status 
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                             </div>
                               </div>
                                 <div class="form-group">
                                    <div class="col-sm-offset-5 col-sm-8">
                                      <button type="submit" class="btn btn-info">Create Checking Report</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                         
                        </div>
                      </div>

                     
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                          <button type="submit" class="btn btn-info btn-block" ng-disabled="form.$invalid"  ng-click="addproperty()">Create New Proprety</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->


          </div>
          <!-- Left Sidebar End -->

          <!-- Right Sidebar Start -->
          <div class="right-sidebar">
            <div class="wrapper">
              <button class="btn btn-block btn-info" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-success" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-warning" type="button">
                Block level button
              </button>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <ul class="progress-stats">
                <li>
                  <div class="details">
                    <span>Windows</span>
                    <span class="pull-right">78%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Windows 8</span>
                    <span class="pull-right">32%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Mac</span>
                    <span class="pull-right">84%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100" style="width: 84%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Linux</span>
                    <span class="pull-right">44%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100" style="width: 44%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>IPhone/IPad</span>
                    <span class="pull-right">67%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <div class="btn-toolbar no-margin">
                <div class="btn-group">
                  <a href="#" class="btn btn-success">
                    <i class="fa fa-headphones"></i>
                  </a>
                  <a href="#" class="btn btn-warning">
                    <i class="fa fa-thumbs-down"></i>
                  </a>
                  <a href="#" class="btn btn-danger">
                    <i class="fa fa-tasks"></i>
                  </a>
                  <a href="#" class="btn btn-info">
                    <i class="fa fa-thumbs-up"></i>
                  </a>
                </div>
                <div class="btn-group">
                  <a href="#" class="btn btn-default">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Right Sidebar End -->
        </div>
        <!-- Dashboard Wrapper End -->
        </div>