 <div class="container">
        <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
          <ul>
            <li><a href="#/property" class="heading">Available Property</a></li>
            <li class="hidden-sm hidden-xs">
              <a href="#/addproperty" class="selected">Add New Property</a>
            </li>
              <li class="hidden-sm hidden-xs">
              <a href="#/addcommercial" class="selected">Add Commercial</a>
            </li>
             <li class="hidden-sm hidden-xs">
              <a href="#/addpg" class="selected">Add PG/Hostel</a>
            </li>
          </ul>
          <div class="custom-search hidden-sm hidden-xs">
            <input type="text" class="search-query" placeholder="Search Branch mger name and city ...">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper">
          
          <!-- Left Sidebar Start -->
          <div class="left-sidebar">

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Create Property 
                    </div>
                  </div>
                  <div class="widget-body">
                    <form class="form-horizontal no-margin">
                       <div class="form-group">
                        <label for="hcpgname" class="col-sm-2 control-label">Hostel / Company / PG Name </label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="hcpgname" placeholder="Hostel / Company / PG Name">
                        </div>
                      </div>
                       <div class="form-group">
                        <label for="Property_name" class="col-sm-2 control-label">Apartment Facility</label>
                        <div class="col-sm-10">
                          <label class="radio-inline"><input type="radio" name="optradio">Furnished</label>
                           <label class="radio-inline"><input type="radio" name="optradio">Unfirnished</label>
                        </div>
                      </div>
                        <div class="form-group">
                        <label for="pwd" class="col-sm-2 control-label">Property Type </label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="State" class="form-control">
                                <option>
                                  Select Property Type
                                </option>
                                <option value="1">
                                  Hostel
                                </option>
                                <option value="2">
                                  Paying Guest Services 
                                </option>
                              </select>
                            </div>
                             <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="State" class="form-control">
                                <option>
                                  type
                                </option>
                                <option value="1">
                                  Girl Only
                                </option>
                                <option value="2">
                                  boys only
                                </option>
                                <option value="3">
                                  Common 
                                </option>
                                <option value="4">
                                  Couple 
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="property_Add *" class="col-sm-2 control-label">Property Address</label>
                        <div class="col-sm-10">
                           <textarea class="form-control" rows="5" id="property_Add" placeholder="Property Address "></textarea>
                        </div>
                      </div> 
                     <div class="form-group">
                        <label for="state_city" class="col-sm-2 control-label">State / City </label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="State" class="form-control">
                                <option>
                                  Select State
                                </option>
                                <option value="1">
                                  Maharashtra
                                </option>
                                <option value="2">
                                  Manipur
                                </option>
                                <option value="3">
                                  Punjab
                                </option>
                                <option value="4">
                                  Jharkhand
                                </option>
                                <option value="5">
                                  Jammu and Kashmir
                                </option>
                                <option value="6">
                                  Uttar Pradesh `
                                </option> `
                              </select>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="city" class="form-control">
                                <option>
                                  Select City
                                </option>
                                <option value="1">
                                  Pune
                                </option>
                                <option value="2">
                                  Nagpur
                                </option>
                                <option value="3">
                                  Thane
                                </option>
                                <option value="4">
                                  Nashik
                                </option>
                                <option value="5">
                                  Pimpri Chinchwad
                                </option>
                                <option value="6">
                                  Kalyan-Dombivali
                                </option>
                              </select>
                            </div> 
                              <div class="col-md-4 col-sm-4 col-xs-4">
                                 <input type="text" class="form-control" id="pincode" placeholder="Pin Code">
                              </div>
                          </div>
                        </div>
                      </div>
                     <div class="form-group">
                        <label for="building_name" class="col-sm-2 control-label">Building / Project Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="building_name" placeholder="Building / Project Name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="branch_name" class="col-sm-2 control-label">Flat / Shop / Unit No</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="branch_name" placeholder="Flat / Shop / Unit No">
                        </div>
                      </div> 
                      <div class="form-group">
                        <label for="wing" class="col-sm-2 control-label">Wing</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="wing" placeholder="Wing ">
                        </div>
                      </div> 
                        <div class="form-group">
                        
                        <label for="branch_name" class="col-sm-2 control-label">Lene</label>
                     
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="branch_name" placeholder="Lene 1">
                        </div>
                         <div class="col-sm-3">
                          <input type="text" class="form-control" id="branch_name" placeholder="Lene 2">
                        </div>
                         <div class="col-sm-3">
                          <input type="text" class="form-control" id="branch_name" placeholder="Lene 3">
                        </div>
                      </div>
                        <div class="form-group">
                        <label for="branch_name" class="col-sm-2 control-label">Amenities</label>
                        <div class="col-sm-10">
                          <select multiple class="form-control" id="sel2">
                            <option>Lift </option>
                            <option>Swimming Pool</option>
                            <option>Power Back Up </option>
                            <option>Playground</option>
                            <option>Parking (Open)</option>
                            <option>Parking (Covered)</option>
                            <option>Security</option>
                            <option>Club House</option>
                            <option>Solar System </option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="Upphoto" class="col-sm-2 control-label">Upload Property Photo</label>
                        <div class="col-sm-10">
                          <input type="file" class="form-control" id="Upphoto" placeholder="Branch Name">
                        </div>
                      </div> 
                      <div class="form-group">
                        <label for="keyrdate" class="col-sm-2 control-label">Keys Received Date</label>
                        <div class="col-sm-10">
                         <input type="date" name="keyrdate">
                        </div>
                      </div> 
                       <div class="form-group">
                        <label for="Property_name" class="col-sm-2 control-label">Service package Activation:- </label>
                        <div class="col-sm-10">
                          <label class="checkbox-inline"><input type="checkbox" name="optcheckbox">Rent FollowUp Service</label>
                          <label class="checkbox-inline"><input type="checkbox" name="optcheckbox">Collection Facility</label>
                          <label class="checkbox-inline"><input type="checkbox" name="optcheckbox">Helpdesk Facility</label>
                          <label class="checkbox-inline"><input type="checkbox" name="optcheckbox">Utility Payment Facility</label>
                        </div>
                      </div>
                      <div class="form-group"> 
                        <label for="Property_name" class="col-sm-2 control-label">Home/Assets Amenity Checking :- </label>
                        <div class="col-sm-10">
                         <a data-toggle="modal" data-target="#modalMd">
                                <button type="submit" class="btn btn-info">Add Amenity</button>
                         </a>
                         </div>
                        </div>    
                        <div class="form-group"> 
                        <div class="col-sm-12">
                         
                           <!--  <a data-toggle="modal" data-target="#modalMd">
                                <button type="submit" class="btn btn-info">Add Amenity</button>
                            </a> -->
                            <!-- Modal -->
                            <div class="modal fade" id="modalMd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel5">Home/Assets Amenity Checking Report </h4>
                                  </div>
                                  <div class="modal-body">

                             <div class="widget-body">
                                <table class="table table-responsive table-striped table-bordered table-hover no-margin">
                                  <thead>
                                    <tr>
                                      <th style="width:15%">
                                       Select Type
                                      </th>
                                      <th style="width:30%" class="hidden-xs">
                                       No Of Units
                                      </th>
                                      <th style="width:30%" class="hidden-xs">
                                        Current Condition
                                      </th>
                                      <th style="width:30%" class="hidden-xs">
                                       Remark
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>
                                        <span class="name">
                                          Fan 
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="fan" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="fan" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="fan" placeholder="Remark">
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <span class="name">
                                         Tube  
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Bulb  
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Bed  
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Cots  
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                      <tr>
                                      <td>
                                        <span class="name">
                                         Cupboards  
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Sliding Windows  
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Electric connection  
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Tiles  
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Wash Bacine  
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         flashTank 
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Geyser 
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Bathroom Glass  
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Sink 
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Door Latch 
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Curtin Road 
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Tv 
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Fridge 
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Washing Machine 
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td>
                                        <span class="name">
                                         Cleaning  status 
                                        </span>
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="No Of Units">
                                      </td>
                                      <td>
                                       <input type="text" class="form-control" id="branch_name" placeholder="Current Condition">
                                      </td>
                                      <td>
                                        <input type="text" class="form-control" id="branch_name" placeholder="Remark">
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                             </div>
                               </div>
                                 <div class="form-group">
                                    <div class="col-sm-offset-5 col-sm-10">
                                      <button type="submit" class="btn btn-info">Create New Property</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                         
                        </div>
                      </div>

                     
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-info btn-block">Create New Proprety</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->


          </div>
          <!-- Left Sidebar End -->

          <!-- Right Sidebar Start -->
          <div class="right-sidebar">
            <div class="wrapper">
              <button class="btn btn-block btn-info" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-success" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-warning" type="button">
                Block level button
              </button>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <ul class="progress-stats">
                <li>
                  <div class="details">
                    <span>Windows</span>
                    <span class="pull-right">78%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Windows 8</span>
                    <span class="pull-right">32%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Mac</span>
                    <span class="pull-right">84%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100" style="width: 84%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Linux</span>
                    <span class="pull-right">44%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100" style="width: 44%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>IPhone/IPad</span>
                    <span class="pull-right">67%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <div class="btn-toolbar no-margin">
                <div class="btn-group">
                  <a href="#" class="btn btn-success">
                    <i class="fa fa-headphones"></i>
                  </a>
                  <a href="#" class="btn btn-warning">
                    <i class="fa fa-thumbs-down"></i>
                  </a>
                  <a href="#" class="btn btn-danger">
                    <i class="fa fa-tasks"></i>
                  </a>
                  <a href="#" class="btn btn-info">
                    <i class="fa fa-thumbs-up"></i>
                  </a>
                </div>
                <div class="btn-group">
                  <a href="#" class="btn btn-default">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Right Sidebar End -->
        </div>
        <!-- Dashboard Wrapper End -->
        </div>