  <!-- Main Container start -->


      <div class="container">
              <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
         <!--  <ul>
            <li><a href="#/branch" class="heading">Branch List</a></li>
            <li class="hidden-sm hidden-xs">
              <a href="#/addbranch" class="selected">Add New Branch</a>
            </li>
          </ul> -->
       
        </div>
        <!-- Sub Nav End -->
        <!-- Row Start -->
        <div class="row">
          <div class="col-lg-4 col-md-4 col-md-offset-4">
            <div class="sign-in-container">
              <form  class="login-wrapper" method="post" >
                <div class="header">
                  <div class="row">
                    <div class="col-md-12 col-lg-12">
                      <h3>Login<img src="img/logo.png" alt="Logo" class="pull-right"></h3>
                      <p>Fill out the form below to login.</p>
                    </div>
                  </div>
                </div>
                <div class="content">
                  <div class="form-group">
                    <label for="userName">User Name</label>
                    <input type="text" class="form-control" id="userName" placeholder="User Name" ng-model="username">
                  </div>
                  <div class="form-group">
                    <label for="Password1">Password</label>
                    <input type="password" class="form-control" id="Password1" placeholder="Password" ng-model="password">
                  </div>
                </div>
                <div class="actions">
                  <input class="btn btn-danger" ng-disabled="form.$invalid" name="Login" type="button" ng-click="login()" value="Login">
                  <a class="link" href="#">Forgot Password?</a>
                  <div class="clearfix"></div><span id="result"></span>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Row End -->
        
      </div>
