   <div class="container">
          <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
          <ul>
            <li><a href='#/ownerregistration' class="heading"> Owner Registration</a></li>
            <li><a href='#/owner_list'> Owner List</a></li>
            <li class="hidden-sm hidden-xs">
              <li><a href='#/ownerprofile'>Owner Profile</a></li>
            </li>
          </ul>
          <div class="custom-search hidden-sm hidden-xs">
            <input type="text" class="search-query" placeholder="Search Branch mger name and city ...">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->`
        <div class="dashboard-wrapper">
          
          <!-- Left Sidebar Start -->
          <div class="left-sidebar">

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Owner Registration 
                    </div>
                  </div>
                  <div class="widget-body">
                    <form class="form-horizontal no-margin">
                       <!--  <h5><span class="mand">Required fields are indicated with red star</span>(<span class="mand">*</span>) </h5> -->
                      <div class="form-group">
                        <label for="ownername" class="col-sm-2 control-label">Owner Name<span class="mand">*</span></label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="ownername" placeholder="Owner Name">
                        </div>
                      </div>
                      <div class="form-group">
                          <label for="birthdate" class="col-sm-2 control-label">Birth Date:</label>
                            <div class="col-sm-3">
                             <input type="date" name="birthdate">
                            </div>
                             <div class="col-sm-6">
                                <label for="Anniv_date" class="col-sm-6 control-label"> Owner Anniversary Date:</label>
                               <div class="col-sm-4">
                                <input type="date" name="Anniv_date">
                               </div>
                            </div>
                      </div> 
                       <div class="form-group">
                        <label for="Owner_Add *" class="col-sm-2 control-label">Owner Address<span class="mand">*</span></label>
                        <div class="col-sm-10">
                           <textarea class="form-control" rows="5" id="Owner_Add" placeholder="Owner Address "></textarea>
                        </div>
                      </div>
                       <div class="form-group">
                        <label for="state_city" class="col-sm-2 control-label">State / City </label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="State" class="form-control">
                                <option>
                                  Select State
                                </option>
                                <option value="1">
                                  Maharashtra
                                </option>
                                <option value="2">
                                  Manipur
                                </option>
                                <option value="3">
                                  Punjab
                                </option>
                                <option value="4">
                                  Jharkhand
                                </option>
                                <option value="5">
                                  Jammu and Kashmir
                                </option>
                                <option value="6">
                                  Uttar Pradesh `
                                </option> `
                              </select>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="city" class="form-control">
                                <option>
                                  Select City
                                </option>
                                <option value="1">
                                  Pune
                                </option>
                                <option value="2">
                                  Nagpur
                                </option>
                                <option value="3">
                                  Thane
                                </option>
                                <option value="4">
                                  Nashik
                                </option>
                                <option value="5">
                                  Pimpri Chinchwad
                                </option>
                                <option value="6">
                                  Kalyan-Dombivali
                                </option>
                              </select>
                            </div> 
                              <div class="col-md-4 col-sm-4 col-xs-4">
                                 <input type="text" class="form-control" id="pincode" placeholder="Pin Code">
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="email_Id" class="col-sm-2 control-label">Email Address<span class="mand">*</span></label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="email_Id" placeholder="Email">
                        </div>
                      </div>
                       <div class="form-group">
                        <label for="contact" class="col-sm-2 control-label">Contact<span class="mand">*</span></label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="contact" placeholder="contact">
                        </div>
                      </div>
                       <div class="form-group">
                        <label for="poa_name" class="col-sm-2 control-label">Name of POA<span class="mand">*</span></label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="poa_name" placeholder="POA Name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="bank_name" class="col-sm-2 control-label">Bank Name<span class="mand">*</span></label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="bank_name" placeholder="Bank Name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="bank_name" class="col-sm-2 control-label">Bank Branch Name<span class="mand">*</span></label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="bank_name" placeholder="Bank Branch Name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="accountno" class="col-sm-2 control-label">Bank Account No<span class="mand">*</span></label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="accountno" placeholder="Bank Account No">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="reference" class="col-sm-2 control-label">Reference<span class="mand">*</span></label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="reference" placeholder="Reference etc. ">
                        </div>
                      </div>
                       <div class="form-group">
                        <label for="state_city" class="col-sm-2 control-label">Reference</label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="State" class="form-control">
                                <option>
                                  Select reference lead
                                </option>
                                <option value="1">
                                 makaan.com
                                </option>
                                <option value="2">
                                 etc
                                </option>
                                <option value="3">
                                   etc
                                </option>
                              </select>
                            </div>
                          </div>
                         </div> 
                       </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-info btn-block">Create Branch</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->


          </div>
          <!-- Left Sidebar End -->

          <!-- Right Sidebar Start -->
          <div class="right-sidebar">
            <div class="wrapper">
              <button class="btn btn-block btn-info" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-success" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-warning" type="button">
                Block level button
              </button>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <ul class="progress-stats">
                <li>
                  <div class="details">
                    <span>Windows</span>
                    <span class="pull-right">78%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Windows 8</span>
                    <span class="pull-right">32%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Mac</span>
                    <span class="pull-right">84%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100" style="width: 84%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Linux</span>
                    <span class="pull-right">44%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100" style="width: 44%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>IPhone/IPad</span>
                    <span class="pull-right">67%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <div class="btn-toolbar no-margin">
                <div class="btn-group">
                  <a href="#" class="btn btn-success">
                    <i class="fa fa-headphones"></i>
                  </a>
                  <a href="#" class="btn btn-warning">
                    <i class="fa fa-thumbs-down"></i>
                  </a>
                  <a href="#" class="btn btn-danger">
                    <i class="fa fa-tasks"></i>
                  </a>
                  <a href="#" class="btn btn-info">
                    <i class="fa fa-thumbs-up"></i>
                  </a>
                </div>
                <div class="btn-group">
                  <a href="#" class="btn btn-default">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Right Sidebar End -->
        </div>
       </div>