   <div class="container">
 <div class="sub-nav hidden-sm hidden-xs">
          <ul>
            <li><a href="add_branch.html" class="heading">Create Account</a></li>
           </ul>
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper">
          
          <!-- Left Sidebar Start -->
          <div class="left-sidebar">

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                     Please Request a service
                    </div>
                  </div>
                  <div class="widget-body">
                    <form class="form-horizontal no-margin">
                     <h5><span class="mand">Required fields are indicated with red star</span>(<span class="mand">*</span>) </h5>
                      <div class="form-group">
                        <label for="property" class="col-sm-2 control-label">
                        Property type<span class="mand">*</span></label>
                        <div class="col-sm-10">
                         <select id="property" class="form-control" placeholder="Select a property ">
                                <option value="Residential House">Residential House</option>
                                 <option value="Multistorey apartment">Multistorey apartment</option>
                                 <option value="Builder Floor Apartment">Builder Floor Apartment</option>
                                 <option value="Villa">Villa</option>
                                 <option value="Service Apartment">Service Apartment</option>
                                 <option value="Penthouse">Penthouse</option>
                                 <option value="Studio Apartment">Studio Apartment</option>
                               
                              </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="tenent" class="col-sm-2 control-label">
                       Tenent/Owner<span class="mand">*</span></label>
                        <div class="col-sm-10">
                         <select id="tenet" class="form-control" placeholder="Select a branch name for Relation manager ">
                                <option value="tenent">Tenent</option>
                                <option value="owner">Owner</option>
                                
                              </select>
                            </div>
                          </div>
                        
                       <div class="form-group">
                        <label for="requesttype" class="col-sm-2 control-label">
                       Request Type<span class="mand">*</span></label>
                        <div class="col-sm-10">
                           <select id="request" class="form-control" placeholder="Select a branch name for Relation manager ">
                                <option value="plumber">plumber</option>
                                <option value="electricitian"> electricitian </option>
                                
                              </select>
                        </div>
                      </div>
                     <div class="form-group">
                        <label for="priority" class="col-sm-2 control-label">Priority<span class="mand">*</span> </label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="priority" class="form-control">
                                <option value="low">
                                 low
                                </option>
                                <option value="medium">
                                 medium
                                </option>
                                <option value="high">
                                  high
                                </option>
                               
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>

                     
                       <div class="form-group">
                        <label for="comment" class="col-sm-2 control-label">Description(optional)</label>
                        <div class="col-sm-10">
                           <textarea class="form-control" rows="5" id="comment" placeholder="comment "></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-info btn-block">Request Service</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->


          </div>
          <!-- Left Sidebar End -->

          <!-- Right Sidebar Start -->
          <div class="right-sidebar">
            <div class="wrapper">
              <button class="btn btn-block btn-info" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-success" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-warning" type="button">
                Block level button
              </button>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <ul class="progress-stats">
                <li>
                  <div class="details">
                    <span>Windows</span>
                    <span class="pull-right">78%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Windows 8</span>
                    <span class="pull-right">32%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Mac</span>
                    <span class="pull-right">84%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100" style="width: 84%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Linux</span>
                    <span class="pull-right">44%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100" style="width: 44%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>IPhone/IPad</span>
                    <span class="pull-right">67%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <div class="btn-toolbar no-margin">
                <div class="btn-group">
                  <a href="#" class="btn btn-success">
                    <i class="fa fa-headphones"></i>
                  </a>
                  <a href="#" class="btn btn-warning">
                    <i class="fa fa-thumbs-down"></i>
                  </a>
                  <a href="#" class="btn btn-danger">
                    <i class="fa fa-tasks"></i>
                  </a>
                  <a href="#" class="btn btn-info">
                    <i class="fa fa-thumbs-up"></i>
                  </a>
                </div>
                <div class="btn-group">
                  <a href="#" class="btn btn-default">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Right Sidebar End -->
        </div>
        </div>