<div class="container">      
        <div class="sub-nav hidden-sm hidden-xs">
          <ul>
           <li><a href='#/tenentregistration' class="heading">Tenent Registration</a></li>
           <li><a href='#/tenentlist' > Tenent List</a></li>
            <li class="hidden-sm hidden-xs">
           <li><a href='#/tenentprofile'>Tenent Profile</a></li>
          </ul>
         
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper">
          
          <!-- Left Sidebar Start -->
          <div class="left-sidebar">

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Add New Tenent
                    </div>
                  </div>
                  <div class="widget-body">
                    <form class="form-horizontal no-margin">
                     <h5><span class="mand">Required fields are indicated with red star</span>(<span class="mand">*</span>) </h5>
                      <div class="form-group">
                        <label for="t_name" class="col-sm-2 control-label">
                      Tenent Name<span class="mand">*</span></label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="Tenent" placeholder="Enter Tenent Name">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="birth" class="col-sm-2 control-label">
                      Birth Date<span class="mand">*</span></label>
                        <div class="col-sm-10">
                          <input type="date" class="form-control" id="Tenent" placeholder="Tenent birthdate">
                        </div>
                      </div>
                         <div class="form-group">
                        <label for="Abirth" class="col-sm-2 control-label">
                      Anneversary Date<span class="mand">*</span></label>
                        <div class="col-sm-10">
                          <input type="date" class="form-control" id="Tenent" placeholder="Tenent birthdate">
                        </div>
                      </div>
                         <div class="form-group">
                        <label for="paddress" class="col-sm-2 control-label">
                        Present Address<span class="mand">*</span></label>
                        <div class="col-sm-10">
                           <textarea class="form-control" rows="5" id="paddress" placeholder="Present address "></textarea>
                        </div>
                      </div>

                      
                        <div class="form-group">
                        <label for="preaddress" class="col-sm-2 control-label">
                       Permanent Address<span class="mand">*</span></label>
                        <div class="col-sm-10">
                           <textarea class="form-control" rows="5" id="preddress" placeholder="permanent address "></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label">
                       Phone No<span class="mand">*</span></label>
                        <div class="col-sm-3">
                           <input type="tel" class="form-control"  id="residentphone" placeholder="residential phone no ">
                        </div>
                         <div class="col-sm-3">
                           <input type="tel" class="form-control"  id="contact" placeholder="office contact no ">
                        </div>
                         <div class="col-sm-4">
                           <input type="tel" class="form-control"  id="contact" placeholder=" mobile contact no ">
                        </div>
                      </div>

                       <div class="form-group">
                        <label for="copaddress" class="col-sm-2 control-label">
                       Company Name & Address<span class="mand">*</span></label>
                        <div class="col-sm-10">
                           <textarea class="form-control" rows="5" id="copddress" placeholder="company name and address "></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="coladdress" class="col-sm-2 control-label">
                       College Name & Address<span class="mand">*</span></label>
                        <div class="col-sm-10">
                           <textarea class="form-control" rows="5" id="colddress" placeholder="college name and address "></textarea>
                        </div>
                      </div>
                    
                        
                       <div class="form-group">
                        <label for="occupation" class="col-sm-2 control-label">
                        Occupation<span class="mand">*</span></label>
                        <div class="col-sm-4">
                           <input type="text" class="form-control"  id="occupation" placeholder="your occupation ">
                        </div>
                         <label for="designation" class="col-sm-2 control-label">
                        designation<span class="mand">*</span></label>
                        <div class="col-sm-4">
                           <input type="text" class="form-control"  id="designation" placeholder="your designation ">
                        </div>
                      </div>

                        <div class="form-group">
                        <label for="wheeler" class="col-sm-2 control-label">
                        wheeler type</label>
                        <div class="col-sm-2">
                          <select class="form-control" id="wheeler">
                            <option value="2 wheeler">2 wheeler</option>
                             <option value="3 wheeler">3 wheeler</option>
                              <option value="4 wheeler">4 wheeler</option>
                          </select>
                        </div>
                         <label for="wheeler" class="col-sm-2 control-label">
                        wheeler No</label>
                        <div class="col-sm-2">
                          <input type="text" class="form-control" id="no" name="number" placeholder="wheeler number">
                        </div>
                         <label for="wheeler" class="col-sm-2 control-label">
                        RC book copy</label>
                        <div class="col-sm-2">
                          <select class="form-control" id="rc book">
                            <option value="yes">Yes</option>
                             <option value="no">No</option>
                             
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="reference" class="col-sm-2 control-label">Reference<span class="mand">*</span></label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="reference" placeholder="Direct or Agent name">
                        </div>
                        <label for="contact" class="col-sm-2 control-label">Agent Contact No<span class="mand">*</span></label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="contact" placeholder="Agent contact no">
                        </div>
                      </div>
                       <div class="form-group">
                        <label for="policy" class="col-sm-2 control-label">Policy Explained<span class="mand">*</span></label>
                        <div class="col-sm-2">
                        <select class="form-control" name="policy">
                          <option value="yes">yes</option>
                          <option value="no"> no</option>
                          </select>
                          </div>
                           <label for="wheeler" class="col-sm-2 control-label">
                        Address Proof</label>
                        <div class="col-sm-2 ">
                          <select class="form-control" id="addressproof">
                            <option value="dl">DL</option>
                             <option value="electricity bill">electricity bill</option>
                             <option value="ration card">ration card</option>
                              <option value="phone bill">phone bill</option>
                               <option value="college/compeny id">college/company Id</option>
                                <option value="pan card">pan card</option>
                                 <option value="passport">passport</option>
                                  <option value="voter id">voter id</option>
                             
                          </select>
                        </div>
                       <!--   <label for="upload" class="col-sm-2 control-label">Upload file<span class="mand">*</span></label> -->
                        <div class="col-md-4">
                       <input type="file" id="file"name="file" value="" class="form-control">

                          
                        </div>
                          
                      </div>
                       <div class="form-group">
                        <label for="photo" class="col-sm-2 control-label">Photo received<span class="mand">*</span></label>
                        <div class="col-sm-4">
                        <select class="form-control" name="photo">
                          <option value="yes">yes</option>
                          <option value="no"> no</option>
                        </select>
                        </div>
                         <label for="t&c" class="col-sm-2 control-label">term &condition<span class="mand">*</span></label>
                        <div class="col-sm-4">
                          <input type="checkbox"  id="t&c" class="control-label">
                       </div>
                        
                      </div>

                        <div class="form-group">
                        <label for="flat" class="col-sm-2 control-label">Flat name & no<span class="mand">*</span></label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="flat" placeholder="Flat name & no">
                        </div>
                         <label for="email" class="col-sm-2 control-label">mail Id<span class="mand">*</span></label>
                        <div class="col-sm-4">
                          <input type="email" class="form-control" id="mail" placeholder="email id">
                        </div>
                      </div>

                        <div class="form-group">
                        <label for="property" class="col-sm-2 control-label">property type<span class="mand">*</span></label>
                        <div class="col-sm-4">
                         <select class="form-control" name="property type">
                         <option value="all residential">all residential</option>
                         <option value="residential house"> residential house</option>
                         <option value="multistoney"> multistoney</option> 
                        <option value="apartment">apartment</option>
                        <option  value="builder floor apartment">builder floor apartment</option>
                        <option  value="villa">villa</option>
                        <option  value="service apartment">service apartment</option>
                        <option  value=" penthouse"> penthouse</option>
                        <option  value="studio apartment"> studio apartment</option>
                        <option  value="ALL COMMERCIAL">ALL COMMERCIAL</option>
                        <option  value="Commercial Office Space"> Commercial Office Space</option>
                        <option  value="CommercialShop">CommercialShop</option>
                        <optionv  value="Commercial Showroom">Commercial Showroom</option>
                        <optionv  value="Warehouse/ Godown">Warehouse/ Godown</option>
                        <option  value="Industrial Building">Industrial Building</option>
                        <option  value="Industrial Shed"> Industrial Shed</option>
                        <option  value="Office in IT Park/ SEZ">Office in IT Park/ SEZ</option>
                                                  

                         </select>
                        </div>
                        <label for="food" class="col-sm-2 control-label">Food<span class="mand">*</span></label>
                        <div class="col-sm-4">
                         <select class="form-control" name="food">
                           <option value="with food">with food</option>
                           <option value="without food"> without food</option>
                         </select>
                        </div>
                      </div>
                       <div class="form-group">
                        <label for="rentamount" class="col-sm-2 control-label">Rent Amount<span class="mand">*</span></label>
                        <div class="col-sm-2">
                          <input type="text" class="form-control" id="rent" placeholder="rent amount">
                        </div>
                         <label for="city" class="col-sm-2 control-label">City<span class="mand">*</span></label>
                        <div class="col-sm-2">
                          <select class="form-control" name="city">
                            <option value="pune">pune</option>
                             <option value="chinchwad">chinchwad</option>
                          </select>
                        </div>
                         <label for="state" class="col-sm-2 control-label">State<span class="mand">*</span></label>
                        <div class="col-sm-2">
                         <select class="form-control" name="city">
                            <option value="MH">MH</option>
                             <option value="MP">MP</option>
                          </select>
                        </div>
                      </div>
                     
                       <div class="form-group">
                        <label for="zipcode" class="col-sm-2 control-label">Zip Code<span class="mand">*</span></label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="zipcode" placeholder="Zip Code">
                        </div>
                         <label for="images" class="col-sm-2 control-label">Image<span class="mand">*</span></label>
                        <div class="col-sm-4">
                          <input type="file" class="form-control" id="image" placeholder="upload image">
                        </div>
                      </div>
                      
                       
                       <div class="form-group">
                        <label for="comment" class="col-sm-2 control-label">Comment(optional)</label>
                        <div class="col-sm-10">
                           <textarea class="form-control" rows="5" id="comment" placeholder="comment "></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-info btn-block">Create Branch</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->


          </div>
          <!-- Left Sidebar End -->

          <!-- Right Sidebar Start -->
          <div class="right-sidebar">
            <div class="wrapper">
              <button class="btn btn-block btn-info" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-success" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-warning" type="button">
                Block level button
              </button>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <ul class="progress-stats">
                <li>
                  <div class="details">
                    <span>Windows</span>
                    <span class="pull-right">78%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Windows 8</span>
                    <span class="pull-right">32%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Mac</span>
                    <span class="pull-right">84%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100" style="width: 84%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Linux</span>
                    <span class="pull-right">44%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100" style="width: 44%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>IPhone/IPad</span>
                    <span class="pull-right">67%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <div class="btn-toolbar no-margin">
                <div class="btn-group">
                  <a href="#" class="btn btn-success">
                    <i class="fa fa-headphones"></i>
                  </a>
                  <a href="#" class="btn btn-warning">
                    <i class="fa fa-thumbs-down"></i>
                  </a>
                  <a href="#" class="btn btn-danger">
                    <i class="fa fa-tasks"></i>
                  </a>
                  <a href="#" class="btn btn-info">
                    <i class="fa fa-thumbs-up"></i>
                  </a>
                </div>
                <div class="btn-group">
                  <a href="#" class="btn btn-default">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Right Sidebar End -->
        </div>
        </div>