<div class="container">      
        <div class="sub-nav hidden-sm hidden-xs">
          <ul>
           <li><a href='#/tenentprofile'  class="heading">Tenent Profile</a></li>
           <li><a href='#/tenentregistration'>Tenent Registration</a></li>
            <li class="hidden-sm hidden-xs">
           <li><a href='#/tenentlist' >Tenent List</a></li>
          </ul>
         
        </div>
 <!-- Sub Nav End -->
        

        <!-- Dashboard Wrapper Start -->
           <div class="dashboard-wrapper">
          <!-- Left Sidebar Start -->
          <div class="left-sidebar">
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget no-margin">
                  <div class="widget-header">
                    <div class="title">
                      Tenent Profile
                    </div>
                    <span class="tools">
                      <i class="fa fa-cogs"></i>
                    </span>
                  </div>
                  <div class="widget-body">
                    <div class="row">
                      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        <div class="thumbnail">
                          <img alt="300x200" src="img/profile.png">
                          <br>
                          <h4 class="center-align-text">Mahendra singh dhoni</h4>
                          <p class="center-align-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor a vulputate metus tristique vel orci quis sagittis.
                          </p>
                          <p class="btn-stack center-align-text">
                            <a href="javascript:;" class="btn btn-info">
                              <i class="fa fa-twitter"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-primary">
                              <i class="fa fa-facebook"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-danger">
                              <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-success">
                              <i class="fa fa-pinterest"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-warning">
                              <i class="fa fa-youtube"></i>
                            </a>
                          </p>
                        </div>
                        <br>
                      </div>
                      <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                        <form class="form-horizontal">
                          <h3>
                            Tenent Information
                          </h3>
                          <hr>
                          <div class="form-group">
                            <label for="emailId" class="col-sm-3 ">Tenent Name</label>
                            <div class="col-sm-9">
                              Mahendra singh dhoni
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputPassword" class="col-sm-3 ">Date of Birth</label>
                            <div class="col-sm-9">
                             08/03/2016
                            </div>
                          </div>
                           <div class="form-group">
                            <label for="inputPassword" class="col-sm-3 ">Anneversary date</label>
                            <div class="col-sm-9">
                             08/03/2016
                            </div>
                          </div>
                           <div class="form-group">
                            <label for="inputPassword" class="col-sm-3 ">Present Address</label>
                            <div class="col-sm-9">
                             2<sup>nd</sup> Floor,Kasturi Heights
                            </div>
                          </div>
                           <div class="form-group">
                            <label for="inputPassword" class="col-sm-3 ">Permanent Address</label>
                            <div class="col-sm-9">
                             2<sup>nd</sup> Floor,Kasturi Heights
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputPassword" class="col-sm-3 ">Phone</label>
                            <div class="col-sm-9">
                              +91 9187654320
                            </div>
                          </div>
                           <div class="form-group">
                            <label for="inputPassword" class="col-sm-3 ">Company Name & Address</label>
                            <div class="col-sm-9">
                            CareerTech
                             2<sup>nd</sup> Floor,Kasturi Heights
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputPassword" class="col-sm-3 ">College Name & Address</label>
                            <div class="col-sm-9">
                            IICMR
                             2<sup>nd</sup> Floor,Kasturi Heights
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputPassword1" class="col-sm-3 ">Occupation</label>
                            <div class="col-sm-9">
                             Software engineer
                            </div>
                          </div>
                            <div class="form-group">
                            <label for="inputPassword1" class="col-sm-3 ">Designation</label>
                            <div class="col-sm-9">
                             Jr. Developer
                            </div>
                          </div>
                            <div class="form-group">
                            <label for="inputPassword1" class="col-sm-3 ">Wheeler</label>
                            <div class="col-sm-9">
                            2 Wheeler
                            </div>
                          </div>

                            <div class="form-group">
                            <label for="inputPassword1" class="col-sm-3 ">Reference</label>
                            <div class="col-sm-9">
                             Propadmin +91 1234567890
                            </div>
                          </div>
                            <div class="form-group">
                            <label for="inputPassword1" class="col-sm-3 ">Policy Explained</label>
                            <div class="col-sm-9">
                            Yes
                            </div>
                          </div>
                            <div class="form-group">
                            <label for="inputPassword1" class="col-sm-3 ">Addrerss Proof</label>
                            <div class="col-sm-9">
                              Pan card
                            </div>
                          </div>
                            <div class="form-group">
                            <label for="inputPassword1" class="col-sm-3 ">Photo Received</label>
                            <div class="col-sm-9">
                             yes
                            </div>
                          </div>
                            <div class="form-group">
                            <label for="inputPassword1" class="col-sm-3 ">T & C</label>
                            <div class="col-sm-9">
                            accepted
                            </div>
                          </div>
                            <div class="form-group">
                            <label for="inputPassword1" class="col-sm-3 ">Flat Name & No</label>
                            <div class="col-sm-9">
                             Hari kripa 205
                            </div>
                          </div>
                            <div class="form-group">
                            <label for="email" class="col-sm-3 ">Email ID</label>
                            <div class="col-sm-9">
                             tenent123@propadmin.com
                            </div>
                          </div>
                            <div class="form-group">
                            <label for="inputPassword1" class="col-sm-3 ">Property type</label>
                            <div class="col-sm-9">
                            Residential
                            </div>
                          </div>
                            <div class="form-group">
                            <label for="inputPassword1" class="col-sm-3 ">Food</label>
                            <div class="col-sm-9">
                             with food
                            </div>
                          </div>
                            <div class="form-group">
                            <label for="inputPassword1" class="col-sm-3 ">Rent Amount</label>
                            <div class="col-sm-9">
                          12000
                            </div>
                          </div>
                            <div class="form-group">
                            <label for="inputPassword1" class="col-sm-3 ">City</label>
                            <div class="col-sm-9">
                            Pune
                            </div>
                          </div>
                            <div class="form-group">
                            <label for="inputPassword1" class="col-sm-3 ">State</label>
                            <div class="col-sm-9">
                             maharastra
                            </div>
                          </div>
                          
                      
                         
                          
                         <div class="form-group">
                            <label for="zip" class="col-sm-3 ">Zip</label>
                            <div class="col-sm-9">
                              411033
                            </div>
                          </div>
                           <div class="form-group">
                            <label for="about" class="col-sm-3 ">About</label>
                            <div class="col-sm-9">
                              First Query Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam
                            </div>
                          </div>
                          <div class="form-actions">
                            <button type="submit" class="btn btn-info pull-right">
                              Save changes
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

          </div>
          <!-- Left Sidebar End -->

          <!-- Right Sidebar Start -->
          <div class="right-sidebar">
            <div class="wrapper">
              <div class="list-group no-margin">
                <a href="javascript:;" class="list-group-item">
                  <span class="pull-right">
                    <i class="fa fa-facebook fa-3x text-facebook"></i>
                  </span>
                  <h4 class="list-group-item-heading">2,239</h4>
                  <p class="list-group-item-text">Shares</p>
                </a>
                <a href="javascript:;" class="list-group-item">
                  <span class="pull-right">
                    <i class="fa fa-twitter fa-3x text-twitter"></i>
                  </span>
                  <h4 class="list-group-item-heading">7,689</h4>
                  <p class="list-group-item-text">Tweets</p>
                </a>
                <a href="javascript:;" class="list-group-item">
                  <span class="pull-right">
                    <i class="fa fa-envelope fa-3x text-success"></i>
                  </span>
                  <h4 class="list-group-item-heading">1,532</h4>
                  <p class="list-group-item-text">Mails</p>      
                </a>
                <a href="javascript:;" class="list-group-item">
                  <span class="pull-right">
                    <i class="fa fa-user fa-3x text-warning"></i>
                  </span>
                  <h4 class="list-group-item-heading">8710</h4>
                  <p class="list-group-item-text">Users</p>      
                </a>
              </div>
            </div>
            
            <hr>
            
            <div class="wrapper">
              <ul class="month-income">
                <li>
                  <span class="icon-block blue-block">
                    <i class="fa fa-html5 fa-lg"></i>
                  </span>
                  <h5>
                    @srinubasava 
                    <small class="info-fade">
                      Developer
                    </small>
                  </h5>
                  <p>
                    10 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block orange-block">
                    <i class="fa fa-apple fa-lg"></i>
                  </span>
                  <h5>
                    @prempillai 
                    <small class="info-fade">
                      Sr. Developer
                    </small>
                  </h5>
                  <p>
                    28 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block green-block">
                    <i class="fa fa-github fa-lg"></i>
                  </span>
                  <h5>
                    @arjunurs 
                    <small class="info-fade">
                      Developer
                    </small>
                  </h5>
                  <p>
                    14 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block red-block">
                    <i class="fa fa-xing fa-lg"></i>
                  </span>
                  <h5>
                    @gajjugujju 
                    <small class="info-fade">
                      Team Leader
                    </small>
                  </h5>
                  <p>
                    28 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block yellow-block">
                    <i class="fa fa-css3 fa-lg"></i>
                  </span>
                  <h5>
                    @boomer 
                    <small class="info-fade">
                      Business
                    </small>
                  </h5>
                  <p>
                    28 minutes ago
                  </p>
                </li>
              </ul>
            </div>

          </div>
          <!-- Right Sidebar End -->

        </div>