 <div class="dashboard-wrapper">
          
          <!-- Left Sidebar Start -->
          <div class="left-sidebar">
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget no-margin">
                  <div class="widget-header">
                    <div class="title">
                     Customer Lead information
                    </div>
                    <span class="tools">
                      <i class="fa fa-cogs"></i>
                    </span>
                  </div>
                  <div class="widget-body">
                    <div class="row">
                      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        <div class="thumbnail">
                          <img alt="300x200" src="img/profile.png">
                          <br>
                          <h4 class="center-align-text">Customer Name</h4>
                          <p class="center-align-text">
                            1bhk,chinchwad,1bathroom
                          </p>
                          <!-- <p class="btn-stack center-align-text">
                            <a href="javascript:;" class="btn btn-info">
                              <i class="fa fa-twitter"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-primary">
                              <i class="fa fa-facebook"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-danger">
                              <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-success">
                              <i class="fa fa-pinterest"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-warning">
                              <i class="fa fa-youtube"></i>
                            </a>
                          </p> -->
                        </div>
                        <br>
                      </div>
                      <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                        <form class="form-horizontal">
                          <h4>
                           Customer Lead  Information
                          </h4>
                          <hr>
                          <div class="form-group">
                            <label for="emailId" class="col-sm-3 ">Date</label>
                            <div class="col-sm-9">
                             03/03/2016
                            </div>
                          </div>
                           <div class="form-group">
                            <label for="inputPassword1" class="col-sm-3 ">Customer Name</label>
                            <div class="col-sm-9">
                            Virat kohali
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="email" class="col-sm-3 ">Email ID</label>
                            <div class="col-sm-9">
                             RM123@propadmin.com
                            </div>
                          </div>
                           <div class="form-group">
                            <label for="contact" class="col-sm-3 ">Contact </label>
                            <div class="col-sm-9">
                            9123456789
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="email" class="col-sm-3 ">Remark</label>
                            <div class="col-sm-9">
                             1bhk,chinchwad,1bathroom
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputPassword" class="col-sm-3 ">Assigned Name</label>
                            <div class="col-sm-9">
                              Mahendra singh dhoni
                            </div>
                          </div>
                        


                         <br>
                          
                          
                         
                          <h4>
                            Follow Up
                          </h4>
                          <hr>
                          
                             <div class="row">
                                <div class="col-md-3">
                                   Mahendra singh dhoni
                                </div>
                                <div class="col-md-3">
                                  <input type="date" name="keyrdate">
                                </div>
                                <div class="col-md-6">
                                  <textarea class="form-control" rows="5" id="remark" placeholder="Remark"></textarea>
                                </div>
                             </div>
                             <hr>

                              <h4>Follow Up History</h4>
                              <div class="row">
                                <div class="col-md-12">
                                   <div class="wrapper">
              <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                <thead>
                  <tr>
                    <th style="width:30%">
                     Follow up name
                    </th>
                    <th style="width:20%">
                      Date
                    </th>
                    <th style="width:80%">
                    Remark
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Mahendra singh dhoni
                    </td>
                    <td>
                      03/03/2016
                    </td>
                    <td>
                     fgbdfgbvdfb mbm vsdfkv vn vmbvuyjhbdfmnvdy7gv
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Mahendra singh dhoni
                    </td>
                    <td>
                      03/03/2016
                    </td>
                    <td>
                     fgbdfgbvdfb mbm vsdfkv vn vmbvuyjhbdfmnvdy7gv
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Mahendra singh dhoni
                    </td>
                    <td>
                      03/03/2016
                    </td>
                    <td>
                     fgbdfgbvdfb mbm vsdfkv vn vmbvuyjhbdfmnvdy7gv
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Mahendra singh dhoni
                    </td>
                    <td>
                      03/03/2016
                    </td>
                    <td>
                     fgbdfgbvdfb mbm vsdfkv vn vmbvuyjhbdfmnvdy7gv
                    </td>
                  </tr>
                
                
               
                </tbody>
              </table>
            </div>
                                </div>
                               
                             </div>
                         
                       
                           
                          
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

          </div>
          <!-- Left Sidebar End -->

          <!-- Right Sidebar Start -->
          <div class="right-sidebar">
            <div class="wrapper">
              <div class="list-group no-margin">
                <a href="javascript:;" class="list-group-item">
                  <span class="pull-right">
                    <i class="fa fa-facebook fa-3x text-facebook"></i>
                  </span>
                  <h4 class="list-group-item-heading">2,239</h4>
                  <p class="list-group-item-text">Shares</p>
                </a>
                <a href="javascript:;" class="list-group-item">
                  <span class="pull-right">
                    <i class="fa fa-twitter fa-3x text-twitter"></i>
                  </span>
                  <h4 class="list-group-item-heading">7,689</h4>
                  <p class="list-group-item-text">Tweets</p>
                </a>
                <a href="javascript:;" class="list-group-item">
                  <span class="pull-right">
                    <i class="fa fa-envelope fa-3x text-success"></i>
                  </span>
                  <h4 class="list-group-item-heading">1,532</h4>
                  <p class="list-group-item-text">Mails</p>      
                </a>
                <a href="javascript:;" class="list-group-item">
                  <span class="pull-right">
                    <i class="fa fa-user fa-3x text-warning"></i>
                  </span>
                  <h4 class="list-group-item-heading">8710</h4>
                  <p class="list-group-item-text">Users</p>      
                </a>
              </div>
            </div>
            
            <hr>
            
            <div class="wrapper">
              <ul class="month-income">
                <li>
                  <span class="icon-block blue-block">
                    <i class="fa fa-html5 fa-lg"></i>
                  </span>
                  <h5>
                    @srinubasava 
                    <small class="info-fade">
                      Developer
                    </small>
                  </h5>
                  <p>
                    10 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block orange-block">
                    <i class="fa fa-apple fa-lg"></i>
                  </span>
                  <h5>
                    @prempillai 
                    <small class="info-fade">
                      Sr. Developer
                    </small>
                  </h5>
                  <p>
                    28 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block green-block">
                    <i class="fa fa-github fa-lg"></i>
                  </span>
                  <h5>
                    @arjunurs 
                    <small class="info-fade">
                      Developer
                    </small>
                  </h5>
                  <p>
                    14 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block red-block">
                    <i class="fa fa-xing fa-lg"></i>
                  </span>
                  <h5>
                    @gajjugujju 
                    <small class="info-fade">
                      Team Leader
                    </small>
                  </h5>
                  <p>
                    28 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block yellow-block">
                    <i class="fa fa-css3 fa-lg"></i>
                  </span>
                  <h5>
                    @boomer 
                    <small class="info-fade">
                      Business
                    </small>
                  </h5>
                  <p>
                    28 minutes ago
                  </p>
                </li>
              </ul>
            </div>

          </div>
          <!-- Right Sidebar End -->

        </div>