   <div class="container">
          <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
         <!--  <ul>
            <li><a href="#/branch" class="heading">Branch List</a></li>
            <li class="hidden-sm hidden-xs">
              <a href="#/addbranch" class="selected">Add New Branch</a>
            </li>
          </ul> -->
       
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper">
          
          <!-- Left Sidebar Start -->
          <div class="left-sidebar">

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                     Visitor Recording
                    </div>
                  </div>
                  <div class="widget-body">
                    <form class="form-horizontal no-margin">
                       <!--  <h5><span class="mand">Required fields are indicated with red star</span>(<span class="mand">*</span>) </h5> -->
                      <div class="form-group">
                        <label for="visitor_name" class="col-sm-2 control-label">Visitor Name<span class="mand">*</span></label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="visitor_name" placeholder="Visitor Name">
                        </div>
                      </div>
                       <div class="form-group">
                        <label for="emailid" class="col-sm-2 control-label">Email Id</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="emailid" placeholder="Email Id">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="contact_no" class="col-sm-2 control-label">Contact No</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="contact_no" placeholder="Contact No">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="pwd" class="col-sm-2 control-label">Type</label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="State" class="form-control">
                                <option>
                                  Select 
                                </option>
                                <option value="1">
                                  Owner
                                </option>
                                <option value="2">
                                  Tenant
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="remark" class="col-sm-2 control-label">Remark</label>
                        <div class="col-sm-10">
                         <textarea class="form-control" rows="5" id="remark" placeholder="Remark"></textarea>
                        </div>
                      </div>


                       
                      
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-info btn-block">Create Lead</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->


          </div>
          <!-- Left Sidebar End -->

          <!-- Right Sidebar Start -->
          <div class="right-sidebar">
            <div class="wrapper">
              <button class="btn btn-block btn-info" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-success" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-warning" type="button">
                Block level button
              </button>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <ul class="progress-stats">
                <li>
                  <div class="details">
                    <span>Windows</span>
                    <span class="pull-right">78%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Windows 8</span>
                    <span class="pull-right">32%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Mac</span>
                    <span class="pull-right">84%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100" style="width: 84%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Linux</span>
                    <span class="pull-right">44%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100" style="width: 44%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>IPhone/IPad</span>
                    <span class="pull-right">67%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <div class="btn-toolbar no-margin">
                <div class="btn-group">
                  <a href="#" class="btn btn-success">
                    <i class="fa fa-headphones"></i>
                  </a>
                  <a href="#" class="btn btn-warning">
                    <i class="fa fa-thumbs-down"></i>
                  </a>
                  <a href="#" class="btn btn-danger">
                    <i class="fa fa-tasks"></i>
                  </a>
                  <a href="#" class="btn btn-info">
                    <i class="fa fa-thumbs-up"></i>
                  </a>
                </div>
                <div class="btn-group">
                  <a href="#" class="btn btn-default">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Right Sidebar End -->
        </div>
       </div>