   <div class="container">
          <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
         <!--  <ul>
            <li><a href="#/branch" class="heading">Branch List</a></li>
            <li class="hidden-sm hidden-xs">
              <a href="#/addbranch" class="selected">Add New Branch</a>
            </li>
          </ul> -->
       
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper" ng-controller="staffController">
          
          <!-- Left Sidebar Start -->
          <div class="left-sidebar">

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                     Add staff
                    </div>
                  </div>
                  <div class="widget-body">
                    <form  ng-app="addlead" name="form" class="form-horizontal no-margin" novalidate>
                      <div class="form-group">
                        <label for="staff_name" class="col-sm-2 control-label">Staff Member Name<span class="mand">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="staff_name" placeholder="Name" ng-model="staffForm.name" name="staff_name" ng-minlength="3" ng-maxlength="20" required/>
                        </div>
                          <span ng-show="form.staff_name.$dirty && form.staff_name.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.staff_name.$dirty && form.staff_name.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.staff_name.$dirty && form.staff_name.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>
                       <div class="form-group">
                        <label for="assigned_branch" class="col-sm-2 control-label">
                        Assign Branch Name<span class="mand">*</span></label>
                        <div class="col-sm-8">
                         <select id="assigned_branch" class="form-control"  ng-model="staffForm.assigned_branch" name="assi_branch" required>
                              <option value="" selected>
                                  Select
                               </option>
                               <option value="Pune">
                                  Pune
                                </option>
                                <option value="Chinchwad">
                                 Chinchwad
                                </option>
                          </select>
                        </div>
                          <span ng-show="form.assi_branch.$error.required" class="alert-danger">! Select Assign Branch Name</span>
                      </div>

                       <div class="form-group">
                        <label for="Assigned_Bname" class="col-sm-2 control-label">
                        Assign Designation<span class="mand">*</span></label>
                        <div class="col-sm-8 ">
                         <select id="branch" class="form-control" placeholder="Select Assi" ng-model="staffForm.assi_designation" name="assi_designation" required>
                                 <option value="" selected>
                                  Select
                                </option>
                                <option value="1">
                                  relation manager
                                </option>
                                <option value="2">
                                  help desk
                                </option>
                                <option value="2">
                                 collection officer
                                </option>
                           </select>
                        </div>
                             <span ng-show="form.assi_designation.$error.required" class="alert-danger">! Select Assign Designation</span>
                      </div>

                       <div class="form-group">
                        <label for="local_address" class="col-sm-2 control-label">Local Address<span class="mand">*</span></label>
                        <div class="col-sm-8">
                           <textarea class="form-control" rows="5" id="local_address" placeholder="Local Address"  ng-model="staffForm.local_address" name="local_address" ng-minlength="3" ng-maxlength="200" required/></textarea>
                        </div>
                         <span ng-show="form.local_address.$dirty && form.local_address.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.local_address.$dirty && form.local_address.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.local_address.$dirty && form.local_address.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>
                        <div class="form-group">
                        <label for="residential_address" class="col-sm-2 control-label">Residential Address<span class="mand">*</span></label>
                        <div class="col-sm-8">
                           <textarea class="form-control" rows="5" id="address" placeholder="residential address"  ng-model="staffForm.residential_address" name="residential_address" ng-minlength="3" ng-maxlength="200" required/></textarea>
                        </div>
                         <span ng-show="form.residential_address.$dirty && form.residential_address.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.residential_address.$dirty && form.residential_address.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.residential_address.$dirty && form.residential_address.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>

                       <div class="form-group">
                        <label for="state" class="col-sm-2 control-label">State<span class="mand">*</span> </label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="state" class="form-control" ng-model="staffForm.state" name="state" required>
                                <option value="" selected>
                                  Select State
                                </option>
                                <option value="1">
                                  Maharashtra
                                </option>
                                <option value="2">
                                  Manipur
                                </option>
                                <option value="3">
                                  Punjab
                                </option>
                                <option value="4">
                                  Jharkhand
                                </option>
                                <option value="5">
                                  Jammu and Kashmir
                                </option>
                                <option value="6">
                                  Uttar Pradesh `
                                </option> `
                              </select>
                            </div>
                              <span ng-show="form.state.$error.required" class="alert-danger">! Select State</span>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="city" class="col-sm-2 control-label">City<span class="mand">*</span></label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="city" class="form-control" ng-model="staffForm.city" name="city" required>
                                <option value="" selected>
                                  Select City
                                </option>
                                <option value="Pune">
                                  Pune
                                </option>
                                <option value="Nagpur">
                                  Nagpur
                                </option>
                                <option value="Thane">
                                  Thane
                                </option>
                                <option value="Nashik">
                                  Nashik
                                </option>
                                <option value="Pimpri Chinchwad">
                                  Pimpri Chinchwad
                                </option>
                                <option value="Kalyan-Dombivali">
                                  Kalyan-Dombivali
                                </option>
                              </select>
                            </div>
                            <span ng-show="form.city.$error.required" class="alert-danger">! Select City</span>
                          </div>
                        </div>
                      </div>

                       <div class="form-group">
                        <label for="zipcode" class="col-sm-2 control-label">Zip Code<span class="mand">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="zipcode" placeholder="Zip Code" ng-model="staffForm.zipcode"name="zipcode" ng-minlength="6" ng-maxlength="6" ui-mask="999999"  ui-mask-placeholder ui-mask-placeholder-char="_" required>
                        </div>
                         <span ng-show="form.zipcode.$dirty && form.zipcode.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.zipcode.$dirty && form.zipcode.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.zipcode.$dirty && form.zipcode.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>

                      <div class="form-group">
                        <label for="contact_no" class="col-sm-2 control-label">Mobile No</label>
                        <div class="col-sm-8">
                       <!--  <input type="text" ng-model="phonenumber" ui-mask="9999999999"  ui-mask-placeholder ui-mask-placeholder-char="_"/> -->
                          <input type="text" class="form-control" id="contact_no" placeholder="Contact No" ng-model="staffForm.contact_no" name="contact_no" ng-minlength="10" ng-maxlength="12" 
                           ui-mask="9999999999"  ui-mask-placeholder ui-mask-placeholder-char="_" required/>
                        </div>
                           <span ng-show="form.contact_no.$dirty && form.contact_no.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.contact_no.$dirty && form.contact_no.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.contact_no.$dirty && form.contact_no.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>

                      <div class="form-group">
                        <label for="landline_no" class="col-sm-2 control-label">Landline No</label>
                        <div class="col-sm-8">
                         <input type="test" class="form-control" id="landline_no" placeholder="Landline No" ng-model="staffForm.landline_no" name="landline_no"  ui-mask="999 9999999?9"  ui-mask-placeholder ui-mask-placeholder-char="_" ng-minlength="10" ng-maxlength="15" required/>
                        </div>
                           <span ng-show="form.landline_no.$dirty && form.landline_no.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.landline_no.$dirty && form.landline_no.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.landline_no.$dirty && form.landline_no.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>

                       <div class="form-group">
                        <label for="emailid" class="col-sm-2 control-label">Email Id</label>
                        <div class="col-sm-8">
                          <input type="email" class="form-control" id="emailid" placeholder="Email Id" ng-model="staffForm.email_id" name="email">
                        </div>
                       <span ng-show="form.email.$dirty && form.email.$error.email" class="alert-danger"> not an email!</span>
                      </div>

                        <div class="form-group">
                        <label for="comment" class="col-sm-2 control-label">Comment</label>
                        <div class="col-sm-8">
                           <textarea class="form-control" rows="5" id="comment"  placeholder="comment"  name="comment"  ng-model="staffForm.comment"  ng-maxlength="200" ></textarea>
                        </div>
                          <span ng-show="form.comment.$dirty && form.comment.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>
                      <div class="form-group">
                        <label for="upload_image" class="col-sm-2 control-label">upload image</label>
                        <div class="col-sm-8">
                          <input type="file" class="form-control" data-buttonName="btn-primary" ng-model="staffForm.upload_image" name="upload_image">
                        </div>
                      </div>
                      
                       <div class="form-group">
                        <label for="Assigned_Bname" class="col-sm-2 control-label">
                        Address Proof<span class="mand">*</span></label>
                        <div class="col-sm-4 ">
                         <select id="address_proof1" class="form-control" placeholder="Select Assi" ng-model="staffForm.address_proof1" name="address_proof1" required>
                                 <option value="" selected>
                                  Select
                                </option>
                                <option value=" adhar card">
                                  adhar card
                                </option>
                                <option value="driving license">
                                  driving license
                                </option>
                                <option value="passport">
                                 passport
                                </option>
                                <option value="voting card">
                                voting card
                                </option>
                                  <option value="Bank Passbook">
                                 Bank  Passbook
                                </option>
                                 <option value="Electricity Bill ">
                                  Electricity Bill 
                                </option>
                           </select>
                        </div>
                         <div class="col-sm-4 ">
                         <select id="address_proof2" class="form-control" placeholder="Select Assi" ng-model="staffForm.address_proof2" name="address_proof2" required>
                                 <option value="" selected>
                                  Select
                                </option>
                                <option value=" adhar card">
                                  adhar card
                                </option>
                                <option value="driving license">
                                  driving license
                                </option>
                                <option value="passport">
                                 passport
                                </option>
                                <option value="voting card">
                                voting card
                                </option>
                                  <option value="Bank Passbook">
                                 Bank  Passbook
                                </option>
                                 <option value="Electricity Bill ">
                                  Electricity Bill 
                                </option>
                           </select>
                        </div>
                            <span ng-show="form.address_proof1.$error.required" class="alert-danger">! Select document 1</span>
                            <span ng-show="form.address_proof2.$error.required" class="alert-danger">! Select document 2</span>
                        </div>
                        <div class="form-group">
                          <label for="contact_no" class="col-sm-2 control-label">Login Details</label>
                          <div class="col-sm-4">
                            <input type="text" class="form-control" id="contact_no" placeholder="User ID" ng-model="staffForm.user_id" name="user_id" >
                          </div>
                          <div class="col-sm-4">
                            <input type="password" class="form-control" id="contact_no" placeholder="password" ng-model="staffForm.pass" name="password">
                          </div>
                       </div>
                   
                       
                      
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                          <button type="button" class="btn btn-info btn-block" ng-disabled="form.$invalid" ng-click="addStaff()">Add Staff Member</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->


          </div>
          <!-- Left Sidebar End -->

          <!-- Right Sidebar Start -->
          <div class="right-sidebar">
            <div class="wrapper">
              <button class="btn btn-block btn-info" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-success" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-warning" type="button">
                Block level button
              </button>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <ul class="progress-stats">
                <li>
                  <div class="details">
                    <span>Windows</span>
                    <span class="pull-right">78%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Windows 8</span>
                    <span class="pull-right">32%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Mac</span>
                    <span class="pull-right">84%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100" style="width: 84%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Linux</span>
                    <span class="pull-right">44%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100" style="width: 44%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>IPhone/IPad</span>
                    <span class="pull-right">67%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <div class="btn-toolbar no-margin">
                <div class="btn-group">
                  <a href="#" class="btn btn-success">
                    <i class="fa fa-headphones"></i>
                  </a>
                  <a href="#" class="btn btn-warning">
                    <i class="fa fa-thumbs-down"></i>
                  </a>
                  <a href="#" class="btn btn-danger">
                    <i class="fa fa-tasks"></i>
                  </a>
                  <a href="#" class="btn btn-info">
                    <i class="fa fa-thumbs-up"></i>
                  </a>
                </div>
                <div class="btn-group">
                  <a href="#" class="btn btn-default">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Right Sidebar End -->
        </div>
       </div>
