 <div class="dashboard-wrapper" >
          
          <!-- Left Sidebar Start -->
          <div class="left-sidebar">
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget no-margin">
                  <div class="widget-header">
                    <div class="title">
                      Staff Details
                    </div>
                    <span class="tools">
                      <i class="fa fa-cogs"></i>
                    </span>
                  </div>
                  <div class="widget-body">
                    <div class="row">
                      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        <div class="thumbnail">
                          <img alt="300x200" src="img/profile.png">
                          <br>
                          <h4 class="center-align-text">Staff Name</h4>
                          <p class="center-align-text">
                            1bhk,chinchwad,1bathroom 
                          </p>
                          <!-- <p class="btn-stack center-align-text">
                            <a href="javascript:;" class="btn btn-info">
                              <i class="fa fa-twitter"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-primary">
                              <i class="fa fa-facebook"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-danger">
                              <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-success">
                              <i class="fa fa-pinterest"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-warning">
                              <i class="fa fa-youtube"></i>
                            </a>
                          </p> {"visitor_name":"errgr","contact_no":"43343","lead_type":"1","max_rent":0,"id":1}-->
                        </div>
                        <br>
                      </div>
                      <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                        <div class="panel panel-info ">
                          <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-caret-square-o-down pull-right"></i><a>Employee Info.</a></h4>
                          </div>
                          <div class="panel-body" >
                            <table class="table table-striped">
                               
                                  <tbody>
                                    <tr>
                                      <td class="col-sm-3"><b>Employee Name:</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.name"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Assign Branch Name</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.branch_name"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Assign Designation</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.designation"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Local Address</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.address"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Residential Address</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.permanent_address"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>State</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.state"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>City</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.city"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Zip Code</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.zip"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Mobile No</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.contact_no"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Landline No</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.landline_no"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Email Id</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.email_id"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Comment</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.comment"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Address Prof List</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.address_proof_list"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>ID Prof List</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.id_proof_list"></span></td>
                                    </tr>
                                  </tbody>
                                </table>
                           </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->
                        

          </div>
          <!-- Left Sidebar End -->

          <!-- Right Sidebar Start -->
          <div class="right-sidebar">
            <div class="wrapper">
              <div class="list-group no-margin">
                <a href="javascript:;" class="list-group-item">
                  <span class="pull-right">
                    <i class="fa fa-facebook fa-3x text-facebook"></i>
                  </span>
                  <h4 class="list-group-item-heading">2,239</h4>
                  <p class="list-group-item-text">Shares</p>
                </a>
                <a href="javascript:;" class="list-group-item">
                  <span class="pull-right">
                    <i class="fa fa-twitter fa-3x text-twitter"></i>
                  </span>
                  <h4 class="list-group-item-heading">7,689</h4>
                  <p class="list-group-item-text">Tweets</p>
                </a>
                <a href="javascript:;" class="list-group-item">
                  <span class="pull-right">
                    <i class="fa fa-envelope fa-3x text-success"></i>
                  </span>
                  <h4 class="list-group-item-heading">1,532</h4>
                  <p class="list-group-item-text">Mails</p>      
                </a>
                <a href="javascript:;" class="list-group-item">
                  <span class="pull-right">
                    <i class="fa fa-user fa-3x text-warning"></i>
                  </span>
                  <h4 class="list-group-item-heading">8710</h4>
                  <p class="list-group-item-text">Users</p>      
                </a>
              </div>
            </div>
            
            <hr>
            
            <div class="wrapper">
              <ul class="month-income">
                <li>
                  <span class="icon-block blue-block">
                    <i class="fa fa-html5 fa-lg"></i>
                  </span>
                  <h5>
                    @srinubasava 
                    <small class="info-fade">
                      Developer
                    </small>
                  </h5>
                  <p>
                    10 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block orange-block">
                    <i class="fa fa-apple fa-lg"></i>
                  </span>
                  <h5>
                    @prempillai 
                    <small class="info-fade">
                      Sr. Developer
                    </small>
                  </h5>
                  <p>
                    28 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block green-block">
                    <i class="fa fa-github fa-lg"></i>
                  </span>
                  <h5>
                    @arjunurs 
                    <small class="info-fade">
                      Developer
                    </small>
                  </h5>
                  <p>
                    14 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block red-block">
                    <i class="fa fa-xing fa-lg"></i>
                  </span>
                  <h5>
                    @gajjugujju 
                    <small class="info-fade">
                      Team Leader
                    </small>
                  </h5>
                  <p>
                    28 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block yellow-block">
                    <i class="fa fa-css3 fa-lg"></i>
                  </span>
                  <h5>
                    @boomer 
                    <small class="info-fade">
                      Business
                    </small>
                  </h5>
                  <p>
                    28 minutes ago
                  </p>
                </li>
              </ul>
            </div>

          </div>
          <!-- Right Sidebar End -->

        </div>