   <div class="container">
          <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
         <!--  <ul>
            <li><a href="#/branch" class="heading">Branch List</a></li>
            <li class="hidden-sm hidden-xs">
              <a href="#/addbranch" class="selected">Add New Branch</a>
            </li>
          </ul> -->
       
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper" ng-controller="leadController">
          
          <!-- Left Sidebar Start -->
          <div class="left-sidebar">

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                     Add Lead
                    </div>
                  </div>
                  <div class="widget-body">
                    <form   name="form" class="form-horizontal no-margin" novalidate>
                       <!--  <h5><span class="mand">Required fields are indicated with red star</span>(<span class="mand">*</span>) </h5> -->
                      <div class="form-group" ng-init="leadform.lead_type='owner'">
                        <label for="lead_type" class="col-sm-2 control-label">User Info</label>
                        <div class="col-sm-10">
                           <p class="col-sm-1 control-label">I  Am</p>

                          <label class="radio-inline"><input type="radio" name="lead_type" ng-model="leadform.lead_type" value="owner"  >Owner</label>
                           <label class="radio-inline"><input type="radio" name="lead_type"ng-model="leadform.lead_type" value="tenant">Tenant</label>

                        </div>
                      </div>



                      <div class="form-group">
                        <label for="visitor_name" class="col-sm-2 control-label">Visitor Name<span class="mand">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="visitor_name" placeholder="Visitor Name" ng-model="leadform.visitor_name" name="visitor_name" ng-minlength="3" ng-maxlength="13" required/>
                        </div>
                          <span ng-show="form.visitor_name.$dirty && form.visitor_name.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.visitor_name.$dirty && form.visitor_name.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.visitor_name.$dirty && form.visitor_name.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>
                   
                       <div class="form-group">
                        <label for="emailid" class="col-sm-2 control-label">Email Id</label>
                        <div class="col-sm-8">
                          <input type="email" class="form-control" id="emailid" placeholder="Email Id" ng-model="leadform.email_id" name="email">
                        </div>
                       <span ng-show="form.email.$dirty && form.email.$error.email" class="alert-danger"> not an email!</span>
                      </div>

                      <div class="form-group">
                        <label for="mobile_no" class="col-sm-2 control-label">Mobile No</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="mobile_no" placeholder="Mobile No 10 digit" ng-model="leadform.mobile_no" name="mobile_no"ng-minlength="10" ng-maxlength="12" ui-mask="9999999999"  ui-mask-placeholder ui-mask-placeholder-char="_"required//>
                        </div> 
                           <span ng-show="form.mobile_no.$dirty && form.mobile_no.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.mobile_no.$dirty && form.mobile_no.$error.minlength" class="alert-danger"> ! mobile no too Short!</span>
                          <span ng-show="form.mobile_no.$dirty && form.mobile_no.$error.maxlength" class="alert-danger"> ! mobile no too Long!</span>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="landline_no" placeholder="landline No" ng-model="leadform.landline_no" name="landline_no" ui-mask="999 9999999?9"  ui-mask-placeholder ui-mask-placeholder-char="_" ng-minlength="10" ng-maxlength="15">
                        </div>
                           <span ng-show="form.landline_no.$dirty && form.landline_no.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.landline_no.$dirty && form.landline_no.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.landline_no.$dirty && form.landline_no.$error.maxlength" class="alert-danger"> too Long!</span> 
                      </div>

                       <div class="form-group">
                        <label for="min_rent" class="col-sm-2 control-label">
                       Rent Budget</label>
                        <div class="col-sm-4 ">
                         <select id="min_rent" class="form-control" ng-model="leadform.min_rent" name="" >
                                 <option value="" selected>
                                  Min Rent
                                </option>
                                <option value="5000">
                                 5000
                                </option>
                                <option value="10000">
                                  10000
                                </option>
                                <option value="15000">
                                 15000
                                </option>
                                <option value="20000">
                                20000
                                </option>
                                  <option value="25000">
                                 25000
                                </option>
                                 <option value="30000">
                                  30000
                                </option>
                                <option value="35000">
                                  35000
                                </option>
                                <option value="40000">
                                  40000
                                </option>
                                <option value="45000">
                                  45000
                                </option>
                                <option value="50000">
                                  50000
                                </option>
                                <option value="55000">
                                  55000
                                </option>
                                <option value="60000">
                                  60000
                                </option>
                                <option value="65000">
                                  65000
                                </option>
                                <option value="70000">
                                  70000
                                </option>
                                <option value="75000">
                                  75000
                                </option>
                                  <option value="80000">
                                  80000
                                </option>
                                  <option value="90000">
                                  90000
                                </option>
                                  <option value="95000">
                                  95000
                                </option>
                                 <option value="1 Lac">
                                  1 Lac
                                </option>
                           </select>
                        </div>
                         <div class="col-sm-4 ">
                         <select id="max_rent" class="form-control" ng-model="leadform.max_rent" name="" >
                                 <option value="" selected>
                                  Max Rent
                                </option>
                               <option value="5000">
                                 5000
                                </option>
                                <option value="10000">
                                  10000
                                </option>
                                <option value="15000">
                                 15000
                                </option>
                                <option value="20000">
                                20000
                                </option>
                                  <option value="25000">
                                 25000
                                </option>
                                 <option value="30000">
                                  30000
                                </option>
                                <option value="35000">
                                  35000
                                </option>
                                <option value="40000">
                                  40000
                                </option>
                                <option value="45000">
                                  45000
                                </option>
                                <option value="50000">
                                  50000
                                </option>
                                <option value="55000">
                                  55000
                                </option>
                                <option value="60000">
                                  60000
                                </option>
                                <option value="65000">
                                  65000
                                </option>
                                <option value="70000">
                                  70000
                                </option>
                                <option value="75000">
                                  75000
                                </option>
                                  <option value="80000">
                                  80000
                                </option>
                                  <option value="90000">
                                  90000
                                </option>
                                  <option value="95000">
                                  95000
                                </option>
                                 <option value="1 Lac">
                                  1 Lac
                                </option>
                           </select>
                        </div>
                            <!--  <span ng-show="form.address_proof1.$error.required" class="alert-danger">! Select document 1</span>
                               <span ng-show="form.address_proof2.$error.required" class="alert-danger">! Select document 2</span> -->
                        </div>

                           <div class="form-group">
                        <label for="Assigned_Bname" class="col-sm-2 control-label">
                       Deposit Budget</label>
                        <div class="col-sm-4 ">
                         <select id="min_deposit" class="form-control" ng-model="leadform.min_deposit" name="" >
                                 <option value="" selected>
                                  Min Deposit
                                </option>
                                <option value="5000">
                                 5000
                                </option>
                                <option value="10000">
                                  10000
                                </option>
                                <option value="15000">
                                 15000
                                </option>
                                <option value="20000">
                                20000
                                </option>
                                  <option value="25000">
                                 25000
                                </option>
                                 <option value="30000">
                                  30000
                                </option>
                                <option value="35000">
                                  35000
                                </option>
                                <option value="40000">
                                  40000
                                </option>
                                <option value="45000">
                                  45000
                                </option>
                                <option value="50000">
                                  50000
                                </option>
                                <option value="55000">
                                  55000
                                </option>
                                <option value="60000">
                                  60000
                                </option>
                                <option value="65000">
                                  65000
                                </option>
                                <option value="70000">
                                  70000
                                </option>
                                <option value="75000">
                                  75000
                                </option>
                                  <option value="80000">
                                  80000
                                </option>
                                  <option value="90000">
                                  90000
                                </option>
                                  <option value="95000">
                                  95000
                                </option>
                                 <option value="1 Lac">
                                  1 Lac
                                </option>
                           </select>
                        </div>
                         <div class="col-sm-4 ">
                         <select id="max_deposit" class="form-control" placeholder="Select Assi" ng-model="leadform.max_deposit" name="" >
                                 <option value="" selected>
                                  Max Rent
                                </option>
                               <option value="5000">
                                 5000
                                </option>
                                <option value="10000">
                                  10000
                                </option>
                                <option value="15000">
                                 15000
                                </option>
                                <option value="20000">
                                20000
                                </option>
                                  <option value="25000">
                                 25000
                                </option>
                                 <option value="30000">
                                  30000
                                </option>
                                <option value="35000">
                                  35000
                                </option>
                                <option value="40000">
                                  40000
                                </option>
                                <option value="45000">
                                  45000
                                </option>
                                <option value="50000">
                                  50000
                                </option>
                                <option value="55000">
                                  55000
                                </option>
                                <option value="60000">
                                  60000
                                </option>
                                <option value="65000">
                                  65000
                                </option>
                                <option value="70000">
                                  70000
                                </option>
                                <option value="75000">
                                  75000
                                </option>
                                  <option value="80000">
                                  80000
                                </option>
                                  <option value="90000">
                                  90000
                                </option>
                                  <option value="95000">
                                  95000
                                </option>
                                 <option value="1 Lac">
                                  1 Lac
                                </option>
                           </select>
                        </div>
                            <!--  <span ng-show="form.address_proof1.$error.required" class="alert-danger">! Select document 1</span>
                               <span ng-show="form.address_proof2.$error.required" class="alert-danger">! Select document 2</span> -->
                        </div>

                       <!--Available Required From -->
                        <div  class="form-group" ng-switch="leadform.lead_type">
                          <div ng-switch-when="owner">
                             <label for="visitor_name" class="col-sm-2 control-label">Available From</label>
                          </div>   
                          <div ng-switch-when="tenant">
                             <label for="visitor_name" class="col-sm-2 control-label">Required From</label>
                            </div>
                              <div class="col-sm-3">
                                 <input type="date" name="available_from"  class="form-control" ng-model="leadform.req_start_date">
                             </div>
                          </div>
                         <!--  <div ng-switch-when="tenant">
                             <label for="visitor_name" class="col-sm-2 control-label">Required From</label>
                              <div class="col-sm-3">
                               <input type="date" name="required_from" class="form-control" ng-model="leadform.required_from">
                             </div>
                          </div> -->
                          
                        <!-- </div> -->
                         <!-- Available Required From end -->

                      <div class="form-group">
                        <label for="property_type" class="col-sm-2 control-label">Property </label>
                        <div class="col-sm-10">
                          <label class="radio-inline"><input type="radio" name="property_type" ng-model="leadform.property_type" value="residential">Residential</label>
                           <label class="radio-inline"><input type="radio" name="property_type" ng-model="leadform.property_type" value="commercial">Commercial</label>
                          <label class="radio-inline"><input type="radio" name="property_type" ng-model="leadform.property_type" value="pg">PG</label>
                        </div>
                      </div> 


                      <div ng-switch="leadform.property_type">
                      <div class="form-group" ng-switch-when="residential">
                        <label for="flat_type" class="col-sm-2 control-label">Residential</label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="flat_type" class="form-control" ng-model="leadform.property_type_details" name="flat_type" required>
                                <option value="" selected>
                                  Select 
                                </option>
                                 <option value=" 1RK">
                                  1RK
                                </option>
                                 <option value="1BHK">
                                  1BHK    
                                </option>
                                 <option value="2BHK">
                                  2BHK  
                                </option>
                                 <option value="3BHK">
                                  3BHK  
                                </option>
                                 <option value="4BHK">
                                  4BHK  
                                </option>
                                <option value="Multistorey Apartment">
                                  Multistorey Apartment
                                </option>
                                <option value="Builder Floor Apartment">
                                  Builder Floor Apartment
                                </option>
                                 <option value="Residential House">
                                  Residential House
                                </option>
                                 <option value="Villa">
                                  Villa
                                </option>
                                 <option value="Residential Plot">
                                  Residential Plot
                                </option>
                                 <option value="Penthouse">
                                  Penthouse
                                </option>
                                 <option value="Studio Apartment">
                                  Studio Apartment
                                </option>
                              </select>
                            </div>
                            <span ng-show="form.flat_type.$error.required" class="alert-danger">! Select Flat Type</span>
                          </div>
                        </div>
                      </div>
                       <div class="form-group" ng-switch-when="commercial">
                        <label for="commercial_type" class="col-sm-2 control-label">Commercial</label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <select id="commercial_type" class="form-control" ng-model="leadform.property_type_details" name="commercial_type" required>
                                <option value="" selected>
                                  Select 
                                </option>
                                <option value="Commercial Office Space">
                                  Commercial Office Space
                                </option>
                                <option value="Office in IT Park/ SEZ  ">
                                  Office in IT Park/ SEZ  
                                </option>
                                 <option value="Commercial Shop">
                                  Commercial Shop
                                </option>
                                 <option value="Commercial Showroom">
                                  Commercial Showroom
                                </option>
                                 <option value="Commercial Land">
                                  Commercial Land
                                </option>
                                 <option value="Warehouse/ Godown">
                                  Warehouse/ Godown
                                </option>
                                 <option value="Industrial Land">
                                  Industrial Land
                                </option>
                                 <option value="Industrial Building">
                                  Industrial Building
                                </option>
                                 <option value="Industrial Shed">
                                  Industrial Shed
                                </option>
                              </select>
                            </div>
                             <span ng-show="form.commercial_type.$error.required" class="alert-danger">! Select Commercial Type</span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group" ng-switch-when="pg">
                        <label for="pg" class="col-sm-2 control-label">PG</label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="pg" class="form-control" ng-model="leadform.property_type_details"  name="pg" required>
                                <option value="" selected>
                                    Select ...
                                </option>
                                <option value="ladies pg">
                                  Ladies PG
                                </option>
                                <option value="gents pg">
                                 Gents PG
                                </option>
                                 <option value="couple pg">
                                  Couple PG
                                </option>
                              </select>
                            </div>
                             <span ng-show="form.pg.$error.required" class="alert-danger">! Select PG Type</span>
                          </div>
                        </div>
                      </div>
                     </div>
                   <!--   <div class="form-group">
                        <label for="location" class="col-sm-2 control-label">Location</label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">

                              <select id="location" class="form-control" ng-model="leadform.location">
                                <option value="" selected>

                                  Select 
                                </option>
                                 <option value="Pimpri">
                                  Pimpri
                                </option>
                                 <option value="Chinchwad">
                                 Chinchwad
                                </option>
                                 <option value="akurdi">
                                akurdi
                                </option>
                                 <option value="kalewadi">
                                 kalewadi
                                </option>
                                 <option value=" new sangvi">
                                 new sangvi
                                </option>
                                <option value="old sangvi">
                                  old sangvi
                                </option>
                                <option value="aundh">
                                 aundh
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div> -->

                       <div class="form-group">
                        <label for="Location" class="col-sm-2 control-label">Location</label>
                        <div class="col-sm-3">
                          <select id="example-getting-started" multiple="multiple" class="form-control" name="location" ng-model="leadform.location" required>
                            <option value="Pimpri">Pimpri </option>
                            <option value="Chinchwad">Chinchwad</option>
                            <option value="akurdi">akurdi</option>
                            <option value="new sangvi">new sangvi</option>
                            <option value="old sangvi">old sangvi</option>
                            <option value="aundh">aundh</option>
                            <option value="kalewadi">kalewadi</option>
                                                        
                          </select>
                        </div>
                          <span ng-show="form.location.$dirty && form.location.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.location.$dirty && form.location.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.location.$dirty && form.location.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>


                      <div class="form-group">
                        <label for="reference" class="col-sm-2 control-label">Reference</label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">

                              <select id="reference" class="form-control" ng-model="leadform.references">

                                <option value="" selected>
                                  Select 
                                </option>
                                 <option value="www.makan.com">
                                 www.makan.com
                                </option>
                                 <option value="www.magicbricks.com">
                                 www.magicbricks.com   
                                </option>
                                 <option value="www.quikr.com">
                                 www.quikr.com
                                </option>
                                 <option value="www.99acres.com">
                                 www.99acres.com
                                </option>
                                 <option value="www.housing.com">
                                 www.housing.com
                                </option>
                                <option value="www.sulekha.com">
                                  www.sulekha.com
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      


                      <div class="form-group">
                        <label for="remarks" class="col-sm-2 control-label">Remark</label>
                        <div class="col-sm-10">
                         <textarea class="form-control" rows="5" id="remarks" placeholder="Remark" name="remarks" ng-model="leadform.remarks"></textarea>
                        </div>
                         <span ng-show="form.remarks.$dirty && form.remarks.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>


                        
                      
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="button" class="btn btn-info btn-block" ng-disabled="form.$invalid" ng-click="Addlead()">Create Lead</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->


          </div>
          <!-- Left Sidebar End -->

          <!-- Right Sidebar Start -->
          <div class="right-sidebar">
            <div class="wrapper">
              <button class="btn btn-block btn-info" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-success" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-warning" type="button">
                Block level button
              </button>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <ul class="progress-stats">
                <li>
                  <div class="details">
                    <span>Windows</span>
                    <span class="pull-right">78%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Windows 8</span>
                    <span class="pull-right">32%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Mac</span>
                    <span class="pull-right">84%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100" style="width: 84%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Linux</span>
                    <span class="pull-right">44%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100" style="width: 44%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>IPhone/IPad</span>
                    <span class="pull-right">67%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <div class="btn-toolbar no-margin">
                <div class="btn-group">
                  <a href="#" class="btn btn-success">
                    <i class="fa fa-headphones"></i>
                  </a>
                  <a href="#" class="btn btn-warning">
                    <i class="fa fa-thumbs-down"></i>
                  </a>
                  <a href="#" class="btn btn-danger">
                    <i class="fa fa-tasks"></i>
                  </a>
                  <a href="#" class="btn btn-info">
                    <i class="fa fa-thumbs-up"></i>
                  </a>
                </div>
                <div class="btn-group">
                  <a href="#" class="btn btn-default">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Right Sidebar End -->
        </div>
       </div>

