     <div class="container" ng-controller="showleadController as leadctrl">
        <div class="sub-nav hidden-sm hidden-xs">

         <!--  <ul>
            <li><a href="#" class="h class="btn btn-primary" eading">Tables</a></li>
            <li class="hidden-sm hidden-xs">
              <a href="#" class="s class="btn btn-primary" elected">Tables</a>
            </li>
            <li class="hidden-sm hidden-xs">
              <a href="pricing.htm class="btn btn-primary" l">Pricing Tables</a>
            </li>
          </ul> -->
          <div class="custom-search hidden-sm hidden-xs">
            <input type="text" class="search-query" placeholder="search lead name ..."  ng-model="search.$">
            <i class="fa fa-search"></i>
          </div>

        </div>

        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper" >
            <div class="row">
               <!--  <input type="button" ng-click="download()" value="download">  -->
            </div>
              <!-- Row Start -->
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="widget">
                    <div class="widget-header">
                      <div class="title">
                       Customer lead
                      </div>
                      <span class="tools">
                       <button id='toggleFiltering' ng-click="toggleFiltering()" class="btn btn-default">Filters <i class="fa fa-cogs"></i></button>
                        
                      </span>
                    </div>
                    <div class="widget-body">
                      <!--  <div id="grid1" ui-grid="{ data: leadctrl.leads, enableFiltering :true }"  class="grid"></div> -->
                       <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter class="grid"></div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
     </div>
               
          
     
               

           
           
          
                     

            
      