    <style>
      /* Icon when the collapsible content is shown */
      .btnp:after {
        /*font-family: "Glyphicons Halflings";*/
        content: "\e114";
        float: right;
        margin-left: 15px;
      }
      /* Icon when the collapsible content is hidden */
      .btnp.collapsed:after {
        content: "\e080";
      }
      .btn_f {
    margin: -10px 0 !important;
}
    </style>
    <div class="container">
          <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
         <!--  <ul>
            <li><a href="#/branch" class="heading">Branch List</a></li>
            <li class="hidden-sm hidden-xs">
              <a href="#/addbranch" class="selected">Add New Branch</a>
            </li>
          </ul> -->
       
        </div>
        <!-- Sub Nav End -->
   <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper">
               <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="widget no-margin">
                  <div class="widget-header">
                    <div class="title">
                      Customer Lead information
                    </div>
                      
                    <span class="tools">
                      <i class="fa fa-cogs"></i>
                    </span>
                  </div>
                  <div class="widget-body">
                    <div class="row">
                      <div class="col-lg-8 col-md-8 col-sm-12 col-sx-12">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-sx-12">
                          <div class="panel panel-info ">
                            <div class="panel-heading">
                              <h4 class="panel-title"><i class="fa fa-caret-square-o-down pull-right"></i><a >Customer Information</a></h4>
                            </div>
                            <div class="panel-body" >
                              <table class="table table-striped">
                                    <tbody>
                                      <tr>
                                        <td class="col-sm-4"><b>Customer Name:</b></td>
                                        <td class="col-sm-7"><span ng-bind="followup.leadDetails.visitor_name"></span></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-4"><b>Date:</b></td>
                                        <td class="col-sm-7"><span ng-bind="followup.leadDetails.lead_date"></span></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-4"><b>Email Id:</b></td>
                                        <td class="col-sm-7"><span ng-bind="followup.leadDetails.email_id"></span></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-4"><b>Mobile No:</b></td>
                                        <td class="col-sm-7"><span ng-bind="followup.leadDetails.contact_no"></span></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-4"><b>Landline No:</b></td>
                                        <td class="col-sm-7"><span ng-bind="followup.leadDetails.landline_no"></span></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-4"><b>Lead Type</b></td>
                                        <td class="col-sm-7"><span ng-bind="followup.leadDetails.lead_type"></span></td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                          </div>
                        </div>  
                        <div class="col-lg-6 col-md-6 col-sm-12 col-sx-12">
                          <div class="panel panel-info">
                            <div class="panel-heading">
                              <h4 class="panel-title"  data-toggle="collapse" data-target="#demo1"><i class="fa fa-caret-square-o-down pull-right"></i><a >Property Details</a></h4>
                            </div>
                            <div class="panel-body collapse" id="demo1" >
                              <table class="table table-striped">
                                 
                                    <tbody>
                                      <tr>
                                        <td class="col-sm-4"><b>Property Type</b></td>
                                        <td class="col-sm-7"><span ng-bind="followup.leadDetails.max_rent"></span></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-4"><b>Property Type Details</b></td>
                                        <td class="col-sm-7"><span ng-bind="followup.leadDetails.property_type_details"></span></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-4"><b>Location</b></td>
                                        <td class="col-sm-7"><span ng-bind="followup.leadDetails.location"></span></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-4"><b>Min Rent</b></td>
                                        <td class="col-sm-7"><span ng-bind="followup.leadDetails.min_rent"></span></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-4"><b>Max Rent</b></td>
                                        <td class="col-sm-7"><span ng-bind="followup.leadDetails.max_rent"></span></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-4"><b>Min Deposit</b></td>
                                        <td class="col-sm-7"><span ng-bind="followup.leadDetails.max_deposit"></span></</td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-4"><b>Max Deposit</b></td>
                                        <td class="col-sm-7"><span ng-bind="followup.leadDetails.max_deposit"></span></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-4"><b>Reference</b></td>
                                        <td class="col-sm-7"><span ng-bind="followup.leadDetails.references"></span></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-4"><b>Remarks</b></td>
                                        <td class="col-sm-7"><span ng-bind="followup.leadDetails.remarks"></span></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-4"><b>Assigned Name</b></td>
                                        <td class="col-sm-7"><span ng-bind="expression"></span></td>
                                      </tr>
                                     
                                    </tbody>
                                  </table>
                            </div>
                          </div>
                        </div>  
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 col-sx-12">
                        <div class="panel panel-info">
                          <div class="panel-heading">
                             <h4 class="panel-title"><i class="icon ion-clock text-info"></i> Follow Up</h4>
                          </div>
                          <div class="panel-body">
                            <div class="form-group">
                                  <input type="date" class="form-control" name="followup_date" ng-model="followup.newFollowup.next_followup_date">
                                </div>
                                  <div class="form-group">
                                  <textarea class="form-control" rows="4 " id="followup_remark" name="followup_remark" placeholder="Remark" ng-model="followup.newFollowup.details"></textarea>
                                </div>
                            
                                  <div class="form-group">
                                   <a class="btn btn-info form-control" ng-disabled="form.$invalid" ng-click="followup.addFollowup()">Submit</a>
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-group">
                                     <a class="btn btn-warning form-control" href="mailto:{{followup.leadDetails.email_id}}?Subject=Hello {{followup.leadDetails.visitor_name}} &body={{followup.newFollowup.details}}">Send Email </a>
                                  </div>
                                  </div>
                                   <div class="col-lg-6">
                                   <div class="form-group">
                                     <a class="btn btn-warning form-control" ng-disabled="form.$invalid" ng-click="">Send SMS </a>
                                  </div>
                                  
                                </div>
                                <div class="form-group">
                                   <a class="btn btn-success form-control" ng-disabled="form.$invalid" ng-click="">convert to client </a>
                                </div>

                                 <div class="col-lg-6">
                                  <div class="form-group">
                                      <!--<label for="status" class="col-sm-2 control-label">Status</label> -->
                                      <select id="assign_lead" class="form-control" ng-model="followup.assign_lead" name="assign_lead" >
                                           <option value="" selected>Assign Lead</option>
                                            <option value="" selected> Mr.1</option>
                                             <option value="" selected>Mr.2</option>
                                              <option value="" selected>Mr.2</option>
                                    </select>
                                  </div>     
                                  </div>
                                   <div class="col-lg-6">
                                     <div class=" form-group">
                                      <!-- <label for="status" class="col-sm-2 control-label">Status</label> -->
                                        <select id="status" class="form-control" ng-model="followup.status" name="status" >
                                             <option value="" selected>Select status</option>
                                              <option value="pending" selected> Pending</option>
                                               <option value="close" selected>Close</option>
                                        </select>
                                     </div>     
                                  </div>
                              </div>
                            
                          </div>
                        </div>

                         <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                        <div class="panel panel-info">
                          <div class="panel-heading">
                                   <button type="button" ng-csv="getArray"  class="btn btn_f btn-info pull-right"  csv-header="['Assigned Name', 'Date', 'Remark']" filename="Follow_Up_History.csv" field-separator="," decimal-separator=".">Export To SVC</button>
                       
                            <h4 class="panel-title"> Follow Up History</h4>
                        

                            
                          
                          </div>
                          <div class="panel-body">
                             <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                                        <thead>
                                          <tr>
                                            <th style="width:30%">
                                             Assigned Name
                                            </th>
                                            <th style="width:20%">
                                              Date
                                            </th>
                                            <th style="width:60%">
                                             Remark
                                            </th>
                                              <th style="width:20%">
                                             <i></i>
                                            </th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr ng-repeat="flp in followup.allFollowups">
                                            <td>
                                             <span ng-bind="flp.date"></span>
                                            </td>
                                            <td>
                                               <span ng-bind="flp.date"></span>
                                            </td>
                                            <td>
                                               <span ng-bind="flp.details"></span>
                                            </td>
                                          </tr>
                                          
                                        </tbody>
                                      </table>
                              
                            
                          </div>
                        </div>
                      </div>

                      </div>  


                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->


        </div>
        <!-- Dashboard Wrapper End -->

    
      </div>
    <!-- Main Container end -->
