    <!-- Header Start -->
    <header>
      <a href="index-2.html" class="logo">
        <img src="img/logo.png" alt="Logo"/>
      </a>
      <div class="pull-right">
        <ul id="mini-nav" class="clearfix">
          <li class="list-box hidden-xs">
            <a href="#" data-toggle="modal" data-target="#modalMd">
              <span class="text-white">Code</span> <i class="fa fa-code"></i>
            </a>
            <!-- Modal -->
           <!--  <div class="modal fade" id="modalMd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-danger" id="myModalLabel5">Coding Style </h4>
                  </div>
                  <div class="modal-body">
                    <img src="img/documentation.png" alt="Esquare Admin">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                  </div>
                </div>
              </div>
            </div> -->
          </li>
          <li class="list-box dropdown">
            <a id="drop5" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-film"></i>
            </a>
            <span class="info-label info-bg">9+</span>
            <ul class="dropdown-menu stats-widget clearfix">
              <li>
                <h5 class="text-success">$37895</h5>
                <p>Revenue <span class="text-success">+2%</span></p>
                <div class="progress progress-mini">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>
              </li>
              <li>
                <h5 class="text-warning">47,892</h5>
                <p>Downloads <span class="text-warning">+39%</span></p>
                <div class="progress progress-mini">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (warning)</span>
                  </div>
                </div>
              </li>
              <li>
                <h5 class="text-danger">28214</h5>
                <p>Uploads <span class="text-danger">-7%</span></p>
                <div class="progress progress-mini">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (danger)</span>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="list-box dropdown">
            <a id="drop5" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-calendar"></i>
            </a>
            <span class="info-label success-bg">6</span>
            <ul class="dropdown-menu server-activity">
              <li>
                <p><i class="fa fa-flag text-info"></i> Pending request<span class="time">3 hrs</span></p>
              </li>
              <li>
                <p><i class="fa fa-fire text-warning"></i> Server Crashed<span class="time">3mins</span></p>
              </li>
              <li>
                <p><i class="fa fa-user text-success"></i> 3 New users<span class="time">1 min</span></p>
              </li>
              <li>
                <p><i class="fa fa-bell text-danger"></i>9 pending requests<span class="time">5 min</span></p>
              </li>
              <li>
                <p><i class="fa fa-plane text-info"></i> Performance<span class="time">25 min</span></p>
              </li>
              <li>
                <p><i class="fa fa-envelope text-warning"></i>12 new emails<span class="time">25 min</span></p>
              </li>
              <li>
                <p><i class="fa fa-cog icon-spin text-success"></i> Location settings<span class="time">4 hrs</span></p>
              </li>
            </ul>
          </li>
          <li class="list-box user-profile">
            <a id="drop7"  role="button" class="dropdown-toggle user-avtar" data-toggle="dropdown">
              <img src="img/user5.png" alt="Bluemoon User">
            </a>
            <ul class="dropdown-menu server-activity">
              <li>
                <p><i class="fa fa-cog text-info"></i> Account Settings</p>
              </li>
              <li>
                <p><i class="fa fa-fire text-warning"></i> Payment Details</p>
              </li>
              <li>
                <div class="demo-btn-group clearfix">
                  <a href="#" data-original-title="" title="">
                    <i class="fa fa-facebook fa-lg icon-rounded info-bg"></i>
                  </a>
                  <a href="#" data-original-title="" title="">
                    <i class="fa fa-twitter fa-lg icon-rounded twitter-bg"></i>
                  </a>
                  <a href="#" data-original-title="" title="">
                    <i class="fa fa-linkedin fa-lg icon-rounded linkedin-bg"></i>
                  </a>
                  <a href="#" data-original-title="" title="">
                    <i class="fa fa-pinterest fa-lg icon-rounded danger-bg"></i>
                  </a>
                  <a href="#" data-original-title="" title="">
                    <i class="fa fa-google-plus fa-lg icon-rounded success-bg"></i>
                  </a>
                </div>
              </li>
              <li>
                <div class="demo-btn-group clearfix">
                 <a href="#" class="btn btn-primary"></i>Logout</a>
                  <a href="#/login" class="btn btn-primary"></i>Login</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </header>
    <!-- Header End -->

    <!-- Main Container start -->

        <!-- Top Nav End -->

<!-- --------side bar-------- -->
  <!--nav sidebar -->
<aside>
  <nav class="navbar navbar-inverse sidebar navbar-fixed-top" role="navigation">
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="nav-side-menu">
    <div class="brand"> <img src="img/logo.png" alt="Logo"/></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="#/home">
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard<i class="fa fa-dashboard fa-lg btn pull-right" style="margin-top:5px"></i></a>
                  </a>
                </li>

              
                  
                <li  data-toggle="collapse" data-target="#pro" class="collapsed ">
                  <a><i class="fa fa-building-o fa-lg"></i> Property<i class="fa fa-building-o fa-lg btn pull-right" style="margin-top:5px"></i></a>
                </li>
                <ul class="sub-menu collapse" id="pro">
                    <li class="active"><a href="#/property">Property<i class="fa fa-asterisk fa-lg btn pull-right" style="margin-top:5px"></i></a></li>
                    <li><a href="#/addproperty">Add Property</a></li>
                </ul>


                <li data-toggle="collapse" data-target="#staff" class="collapsed">
                  <a><i class="fa fa-users fa-lg"></i> Staff <i class="fa fa-users fa-lg btn pull-right" style="margin-top:5px"></i></a>
                </li>  
                <ul class="sub-menu collapse" id="staff">
                  <li class="active"><a href="#/staff">Staff List<i class="fa fa-asterisk fa-lg btn pull-right" style="margin-top:5px"></i></a></li>
                  <li><a href="#/addstaff">Add Staff</a></li>
                </ul>

                <li data-toggle="collapse" data-target="#branch" class="collapsed">
                  <a><i class="fa fa-university fa-lg"></i> Branch<i class="fa fa-university fa-lg btn pull-right" style="margin-top:5px"></i></a>
                </li>  
                <ul class="sub-menu collapse" id="branch">
                  <li class="active"><a href="#/branch">Branch List<i class="fa fa-asterisk fa-lg btn pull-right" style="margin-top:5px"></i></a></li>
                  <li><a href="#/addbranch">Add Branch</a></li>
                </ul>

                 <li data-toggle="collapse" data-target="#helpdesk" class="collapsed">
                  <a><i class="fa fa-question-circle fa-lg"></i>Help Desk<i class="fa fa-question-circle fa-lg btn pull-right" style="margin-top:5px"></i></span></a>
                </li>  
                <ul class="sub-menu collapse" id="helpdesk">
                  <li class="active"><a href="#/showallleads">Lead<i class="fa fa-asterisk fa-lg btn pull-right" style="margin-top:5px"></i></a></li>
                  <li ><a href="#/addlead">Add Lead</a></li>
                </ul>
                <li data-toggle="collapse" data-target="#access" class="collapsed">
                  <a><i class="fa fa-wrench fa-lg"></i>Access Management<i class="fa fa-wrench fa-lg btn pull-right" style="margin-top:5px"></i></span></a>
                </li>  
                <ul class="sub-menu collapse" id="access">
                  <li class="active"><a href="#/feature">Access<i class="fa fa-asterisk fa-lg btn pull-right" style="margin-top:5px"></i></a></li>
                 
                </ul>



               


                 <li>
                  <a href="#">
                  <i class="fa fa-user fa-lg"></i> Profile<i class="fa fa-university fa-lg btn pull-right" style="margin-top:5px"></i>
                  </a>
                  </li>

                 <li>
                  <a href="#">
                  <i class="fa fa-users fa-lg"></i> Users<i class="fa fa-paper-plane fa-lg btn pull-right" style="margin-top:5px"></i>
                  </a>
                </li>
            </ul>
     </div>
</div>
  </nav>
  
</aside>



<!-- --------end side bar-------- -->